<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Event from '@/components/Event.vue'
import { namespace } from 'vuex-class'
import EventCreateDialog from '~/components/EventCreateDialog.vue'
import Cta from '~/components/Cta.vue'
import { showSnack, to } from '~/utils/helpers'
import Spinner from '@/components/Spinner.vue'
import { AUTH_NAMESPACE } from '~/store/auth'

const events = namespace('events')
const auth = namespace(AUTH_NAMESPACE)

@Component({ components: { Event, EventCreateDialog, Cta, Spinner } })
export default class MyEventsIndex extends Vue {
  @auth.Getter profile: Auth.ProfilePublic
  @events.Getter events!: Events.Event[]
  @events.Action fetchMyEvents!: Events.FetchA
  @events.Action fetchOrganized!: Events.FetchOrganizedA
  @events.Action sort!: Events.SortA

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop({ required: false, default: false }) isPast: boolean
  @Prop({ required: false, default: false }) isOrganized: boolean

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = true

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    this.fetchEvents()
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async fetchEvents() {
    if (!this.profile) {
      showSnack(this, 'Please authenticate')
      this.loading = false
      return
    }
    this.loading = true

    let req = () => this.fetchMyEvents({ isPast: this.isPast })

    if (this.isOrganized) {
      req = () => this.fetchOrganized()
    }
    const [err, __] = await to(req())

    //* Sort results, default - old(closest) on top, except for past events new first
    if (this.isPast || this.isOrganized) {
      this.sort({ field: 'date', isAsc: false })
    } else {
      this.sort({ field: 'date', isAsc: true })
    }

    this.loading = false
    if (err) {
      console.log('Error fetching events:', err)
    }
  }
  ctaText() {
    // @ts-ignore
    return this.$t('NoEvents')
  }
}
</script>
<template>
  <v-row justify="center" align="center" class="mt-2">
    <v-col cols="12" sm="8" md="6">
      <Spinner v-if="loading" />
      <template v-else-if="events && events.length > 0">
        <Event
          v-for="event in events"
          :event="event"
          :key="event.id"
          :isCardMode="true"
        />
      </template>
      <Cta
        v-else-if="!profile"
        :text="'Sign in to view your events'"
        :icon="'mdi-login-variant'"
      />
      <Cta v-else :text="ctaText()" />
    </v-col>
  </v-row>
</template>
