<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import MyEvents from '@/pages/my-events/index.vue'

@Component({ components: { MyEvents } })
export default class MyEventsOrganized extends Vue {}
</script>
<template>
  <MyEvents :isOrganized="true" />
</template>
