<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import MyEvents from '@/pages/my-events/index.vue'

@Component({ components: { MyEvents } })
export default class Past extends Vue {}
</script>
<template>
  <div>
    <MyEvents :isPast="true" :isCardMode="true" />
  </div>
</template>
