<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import FormParser from '@/components/FormParser.vue'
import 'firebase/firestore'
import { namespace } from 'vuex-class'
import AccountSettingsDialog from '~/components/AccountSettingsDialog.vue'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

const auth = namespace('auth')

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({
  components: { FormParser, AccountSettingsDialog },
  layout: 'account-layout'
})
export default class AccountDetails extends Vue {
  @auth.Action signup!: Auth.SigninA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  isCreateDialog = true
}
</script>

<template>
  <v-container class="login-signup">
    <h1 class="text-header mb-3">Details</h1>
    <AccountSettingsDialog v-if="isCreateDialog" v-model="isCreateDialog" />
  </v-container>
</template>

<style lang="scss" scoped>
.login-signup {
  align-items: center;
  position: relative;

  .text-header {
    color: #69757c;
  }
  .text-msg {
    color: #69757c;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
}
</style>
