<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import MyEventsIndex from '../my-events/index.vue'

@Component({ components: { MyEventsIndex } })
export default class AccountIndex extends Vue {}
</script>
<template>
  <MyEventsIndex :isCardMode="true" />
</template>
