<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import MyEventsOrganized from '../my-events/organized.vue'

@Component({ components: { MyEventsOrganized } })
export default class AccountOrganized extends Vue {}
</script>
<template>
  <MyEventsOrganized />
</template>
