<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import FormParser from '@/components/FormParser.vue'
import Forms, { FormForgot } from '@/custom/forms'
import { routerpush, showSnack, to } from '@/utils/helpers'
import { Routes } from '@/router'
import { namespace } from 'vuex-class'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

type AuthError = {
  code: string
  message: string
}

const auth = namespace('auth')

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { FormParser } })
export default class TheLoginForgot extends Vue {
  //*===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧Vuex

  @auth.Action recoverPassword!: Auth.RecoverPasswordA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  formFields: FormForgot = Forms.forgot()
  error: null | AuthError = null
  Routes = Routes

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm()
  }

  async onSubmit({ email }: Auth.SigninP) {
    this.loading = true
    this.error = null

    const context = this
    const signinData = { email, context }
    const [error, __] = await to(this.recoverPassword(signinData))

    this.loading = false

    //? Exn: handle errors and return
    if (error) {
      return this.handleError(error)
    }
    showSnack(this, 'Password reset email will arrive within 10 minutes')
    routerpush(this, '/')

    //TODO:
    //* Show snackbar
    // this.$showSnack(
    //   'Reset link is sent to your email. Delivery can take up to 5-10 minutes.'
    // )
  }

  handleError(err: Types.ResponseError) {
    // TODO: warning, firebase syntax might be unconsistent
    this.error = { code: err.message, message: err.message }

    //* Override errors with custom messages
    const code = this.error.code
    if (code === 'EMAIL_NOT_FOUND') {
      this.error.message = 'Email not found'
    }
  }
  goLoginMain() {
    history.go(-1)
  }
}
</script>

<template>
  <v-container fluid class="login-forget">
    <h1 class="text-header mb-3">
      <v-btn class="mb-1 mr-3" :disabled="loading" @click="goLoginMain" icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      {{ $txt.PasswordRecovery() }}
    </h1>
    <!-- <div class="text-msg">{{ $txt.ProvideEmail() }}</div> -->

    <FormParser
      ref="FormParser"
      :isLoading="loading"
      :formFields="formFields"
      @onSubmit="onSubmit"
    >
      <template v-slot:default>
        <v-alert
          v-if="error"
          dense
          outlined
          dismissible
          type="error"
          transition="slide-y-transition"
        >
          {{ error.message }}
        </v-alert>

        <v-btn
          :loading="loading"
          block
          outlined
          height="60"
          class="mt-5"
          @click="submitForm"
        >
          {{ $txt.Recover() }}
        </v-btn>
      </template>
    </FormParser>
  </v-container>
</template>

<style lang="scss" scoped>
.login-forget {
  .text-header {
    color: #69757c;
  }
  .text-msg {
    color: #69757c;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
}
</style>
