<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { Routes } from '@/router'
import { namespace } from 'vuex-class'
import { AUTH_NAMESPACE } from '~/store/auth'
import { routerpush, showSnack, to } from '~/utils/helpers'

const auth = namespace(AUTH_NAMESPACE)

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({})
export default class TheLogin extends Vue {
  //*===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧===💧Vuex

  @auth.Action signinGoogle!: Auth.SigninGoogleA

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get Routes() {
    return Routes
  }

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false

  // hooks
  mounted() {
    // if (!firebase.apps.length) {
    //   firebase.initializeApp(CONFIG_FIREBASE)
    //   console.log('app is init : ')
    // }
  }

  async onSigninGoogle() {
    this.loading = true
    const [err, __] = await to(this.signinGoogle())

    if (err) {
      console.log(err)
      this.loading = false
      return
    }

    showSnack(this, 'You are signed in, redirecting...')
    routerpush(this, '/')
    //TODO:auth
    // const provider = new firebase.auth.GoogleAuthProvider()
    // console.log(' provider: ', provider)
    // firebase
    //   .auth()
    //   .signInWithPopup(provider)
    //   .then((result) => {
    //     /** @type {firebase.auth.OAuthCredential} */
    //     const credential: any = result.credential
    //     // This gives you a Google Access Token. You can use it to access the Google API.
    //     const token = credential.accessToken
    //     // The signed-in user info.
    //     const user = result.user
    //     if (!user) return
    //     const payload = {
    //       email: user.email || '',
    //       localId: user.uid,
    //       refreshToken: user.refreshToken,
    //       idToken: String(credential.accessToken),
    //       password: '',
    //       nickname: ''
    //     }
    //     //* Go vuex
    //     this.signinUser(payload)
    //   })
    //   .catch((error) => {
    //     // Handle Errors here.
    //     const errorCode = error.code
    //     const errorMessage = error.message
    //     // The email of the user's account used.
    //     const email = error.email
    //     // The firebase.auth.AuthCredential type that was used.
    //     const credential = error.credential
    //     // ...
    //   })
  }

  async signinUser(payload: Auth.SigninGoogleP) {
    // const [errors, _] = await to(this.vuexSigninGoogle(payload))
    // if (errors) return //? Errors
  }
}
</script>

<template>
  <v-container class="login-main" fluid>
    <h1 class="grey--text text--darken-2 mb-3">
      {{ $txt.Login() }}
    </h1>

    <v-btn
      :disabled="loading"
      :loading="loading"
      class="mt-5"
      block
      outlined
      height="60px"
      @click="onSigninGoogle"
    >
      <img height="45px" src="/img/google-btn.svg" />
      Sign in with Google
    </v-btn>

    <div
      class="ma-5 d-flex justify-center align-center grey--text text--darken-3"
    >
      {{ $txt.Or() }}
    </div>

    <v-btn
      block
      outlined
      height="60px"
      :to="localePath(Routes.login.children.signin.path)"
      :disabled="loading"
      :loading="loading"
    >
      <v-icon class="mr-2">mdi-login</v-icon>
      Sign In with Password
    </v-btn>
    <v-btn
      class="mt-5"
      block
      outlined
      height="60px"
      :to="localePath(Routes.login.children.signup.path)"
      :disabled="loading"
      :loading="loading"
    >
      <v-icon class="mr-2">mdi-account-plus</v-icon>

      Sign Up With Password
    </v-btn>
  </v-container>
</template>

<style lang="scss" scoped>
$navbarHeight: 120;

.login-main {
  .text-header {
    color: #69757c;
  }
}
</style>
