<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import FormParser from '@/components/FormParser.vue'
import Forms, { FormSignin } from '@/custom/forms'
import { routerpush, to, txt } from '@/utils/helpers'
import { Routes } from '~/router'
import { namespace } from 'vuex-class'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

const auth = namespace('auth')

type AuthError = {
  code: string
  message: string
}

enum AuthErrors {
  NoUser = 'auth/user-not-found',
  WrongPassword = 'auth/wrong-password',
  TooManyRequests = 'auth/too-many-requests'
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { FormParser } })
export default class TheLoginSignin extends Vue {
  @auth.Action signin!: Auth.SigninA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  formFields: FormSignin = Forms.signin()

  error: null | AuthError = null
  isMounted = false
  Routes = Routes

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  //hooks

  mounted() {
    this.$nextTick(() => (this.isMounted = true))
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm()
  }

  async onSubmit({ email, password }: Auth.SigninP) {
    this.loading = true

    const context = this
    const signinData = { email, password, context }
    const [error, __] = await to(this.signin(signinData))

    this.loading = false

    //? Exn: handle errors and return
    if (error) {
      return this.handleError(error)
    }
    routerpush(this, '/')
  }

  //* Sets error text
  handleError(err: Types.ResponseError) {
    this.error = {
      code: err.code,
      message: err.message
    }

    //* Override errors with custom messages
    const code = this.error.code

    if (code === AuthErrors.NoUser) {
      this.error.message = txt(this, 'AuthNoUser')
    } else if (code === AuthErrors.WrongPassword) {
      this.error.message = txt(this, 'AuthWrongPassword')
    } else if (code === AuthErrors.TooManyRequests) {
      this.error.message = txt(this, 'TooManyRequests')
    }
  }

  goLoginMain() {
    history.go(-1)
  }
}
</script>

<template>
  <v-container class="login-signin" v-if="isMounted">
    <h1 class="text-header mb-3">
      <v-btn class="mb-1 mr-3" :disabled="loading" @click="goLoginMain" icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      {{ $txt.SignIn() }}
    </h1>
    <!-- <div class="text-msg">Please input your email and password</div> -->

    <FormParser
      ref="FormParser"
      :isLoading="loading"
      :formFields="formFields"
      @onSubmit="onSubmit"
    >
      <template v-slot:default>
        <v-alert
          v-if="error"
          dense
          outlined
          dismissible
          type="error"
          transition="slide-y-transition"
        >
          {{ error.message }}
        </v-alert>
        <!-- :event="!loading ? 'click' : ''" -->
        <nuxt-link
          :class="{ disabled: loading }"
          :disabled="loading"
          :to="localePath(Routes.login.children.forgot.path)"
        >
          Forgot password?
        </nuxt-link>
        <v-btn
          :loading="loading"
          block
          outlined
          height="60"
          class="mt-5"
          @click="submitForm"
        >
          {{ $txt.SignIn() }}
        </v-btn>
      </template>
    </FormParser>
  </v-container>
</template>

<style lang="scss" scoped>
.login-signin {
  .disabled {
    opacity: 0.5;
  }

  .text-header {
    color: #69757c;
  }
  .text-msg {
    color: #69757c;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
}
</style>
