<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import FormParser from '@/components/FormParser.vue'
import Forms, { FormSignup } from '@/custom/forms'
import 'firebase/firestore'
import { routerpush, to, txt } from '~/utils/helpers'
import { namespace } from 'vuex-class'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

const auth = namespace('auth')

type AuthError = {
  code: string
  message: string
}

enum AuthErrors {
  NoUser = 'auth/user-not-found',
  WrongPassword = 'auth/wrong-password',
  EmailUsed = 'auth/email-already-in-use'
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { FormParser } })
export default class TheLoginSignup extends Vue {
  @auth.Action signup!: Auth.SigninA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  formFields: FormSignup = Forms.signup()
  error: null | AuthError = null
  isMounted = false

  //*hooks

  mounted() {
    this.$nextTick(() => (this.isMounted = true))
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm() //TODO:
  }

  async onSubmit({ email, password }: Auth.SignupP) {
    this.loading = true

    const signupData = { email, password }
    const [error, __] = await to(this.signup(signupData))

    this.loading = false

    //? Exn: handle errors and return
    if (error) {
      return this.handleError(error)
    }

    routerpush(this, '/')
  }

  handleError(err: Types.ResponseError) {
    this.error = { code: err.code, message: err.message }

    //* Override errors with custom messages
    const code = err.code
    if (code === AuthErrors.NoUser) {
      //TODO:fix
      this.error.message = txt(this, 'AuthNoUser')
    } else if (code === AuthErrors.WrongPassword) {
      this.error.message = txt(this, 'AuthWrongPassword')
    } else if (code === AuthErrors.EmailUsed) {
      this.error.message = txt(this, 'AuthEmailUsed')
    }
  }

  goLoginMain() {
    history.go(-1)
  }
}
</script>

<template>
  <v-container class="login-signup" v-if="isMounted">
    <h1 class="text-header mb-3">
      <v-btn class="mb-1 mr-3" :disabled="loading" @click="goLoginMain" icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      {{ $txt.SignUp() }}
    </h1>
    <!-- <div class="text-msg">{{ $txt.SignUpCta() }}</div> -->

    <FormParser
      ref="FormParser"
      :isLoading="loading"
      :formFields="formFields"
      @onSubmit="onSubmit"
    >
      <template v-slot:default>
        <v-alert
          v-if="!!error"
          dense
          outlined
          type="error"
          transition="slide-y-transition"
        >
          {{ error.message }}
        </v-alert>

        <v-btn
          :loading="loading"
          block
          outlined
          height="60"
          class="mt-5"
          @click="submitForm"
        >
          {{ $txt.SignUp() }}
        </v-btn>
      </template>
    </FormParser>
  </v-container>
</template>

<style lang="scss" scoped>
.login-signup {
  align-items: center;
  position: relative;

  .text-header {
    color: #69757c;
  }
  .text-msg {
    color: #69757c;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
}
</style>
