<script lang="ts">
import { Component } from 'vue-property-decorator'
import DialogBaseSlider from '@/components/DialogBaseSlider.vue'
import { to, updateFormValues } from '@/utils/helpers'
import Forms, { FormAccountSettings } from '~/custom/forms'
import FormParser from './FormParser.vue'
import { namespace } from 'vuex-class'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

const auth = namespace('auth')

type EventError = {
  code: string
  message: string
}

@Component({ components: { DialogBaseSlider } })
export default class AccountSettingsDialog extends DialogBaseSlider {
  @auth.Action('updateProfile') updateProfile!: Auth.UpdateProfileA
  @auth.Getter profile: Auth.ProfilePublic
  @auth.Action('uploadImg') uploadImg!: Auth.UploadImgA

  // @events.Action('uploadImg') uploadImg!: Events.UploadImgA

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  error: null | EventError = null
  isLoading = false
  text = ''
  textLimitMax = 500
  textLimitMin = 10
  formFields: FormAccountSettings = Forms.accountSettings()

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get getCounter() {
    return this.text.length > this.textLimitMax ? this.textLimitMax : null
  }

  get isValid() {
    const text = this.text.trim()
    const charsCount = text.length
    return charsCount >= this.textLimitMin && charsCount <= this.textLimitMax
  }

  //hooks
  mounted() {
    this.initFields()
  }

  //* Initializing form if user is authed
  async initFields() {
    if (this.profile == null) return

    //* If editing - update form fields to old values
    const [err, res] = await to(updateFormValues(this.formFields, this.profile))

    if (err) return //? Exn
    this.formFields = res
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm() //TODO:
    this.goBack()
  }

  async onSubmit({ displayName, img }: { displayName: string; img: File }) {
    this.isLoading = true

    // //* Upload img
    // const [err, imgLink] = await to(this.uploadImg(img))
    // if (err) {
    //   this.loading = false
    //   console.log('Uploading image error:', err)
    //   return
    // }
    // console.log('imgLink:', imgLink)

    //* Combine minutes/time

    //TODO: move it to store?
    const data: { displayName: string; img?: string } = {
      displayName,
      img: ''
    }

    //* Upload img if updated
    if (this.formFields.img.isUpdated) {
      //* Upload img
      const p: Auth.UploadImgP = {
        file: img,
        name: this.profile?.id ?? '',
        oldImgPath: this.profile?.img
      }
      const [err, imgLink] = await to(this.uploadImg(p))
      if (err) {
        this.isLoading = false
        return
      }
      data.img = imgLink
    } else {
      delete data.img
    }

    const [error, __] = await to(this.updateProfile(data))

    this.isLoading = false

    //? Exn: handle errors and return
    if (error) {
      return this.handleError(error)
    }

    // this.isOpen = false
    this.goBack() //TODO: bring back
  }

  handleError(err: Types.ResponseError) {
    this.error = { code: err.code, message: err.message }
  }

  goBack() {
    // @ts-ignore
    history.go(-1)
  }

  btnTitle() {
    // @ts-ignore
    return this.$t('AccountDetails')
  }
}
</script>

<template>
  <DialogBaseSlider
    v-model="isOpen"
    :loading="isLoading"
    :noSaveBtn="true"
    :isClearable="true"
    :noCancelBtn="true"
    :title="btnTitle()"
    :hideClose="!profile"
    @onSave="submitForm"
    @onCancel="goBack"
  >
    {{ this.$t('ChooseName') }}
    <FormParser
      ref="FormParser"
      :isLoading="isLoading"
      :formFields="formFields"
      @onSubmit="onSubmit"
    >
      <template v-slot:default>
        <v-alert
          v-if="!!error"
          dense
          outlined
          type="error"
          transition="slide-y-transition"
        >
          {{ error.message }}
        </v-alert>
      </template>
    </FormParser>
  </DialogBaseSlider>
</template>

<style lang="scss">
.report-dialog {
}
</style>
