<script lang="ts">
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'

@Component({ components: {} })
export default class AccountLayoutTabs extends Vue {
  tabs = {
    Explore: {
      //@ts-ignore
      name: this.$t('Attending'),
      icon: 'mdi-binoculars',
      path: '/account'
    },

    MyEvents: {
      //@ts-ignore
      name: this.$t('Organized'),
      icon: 'mdi-emoticon-cool',
      path: '/account/organized'
    }
  }
}
</script>

<template>
  <Tabs
    :items="[tabs.Explore, tabs.MyEvents]"
    :defaultTab="tabs.Explore.name"
    :hideIcons="$vuetify.breakpoint.xs"
    :dark="true"
  />
</template>

<style lang="scss">
.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
