<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator'

@Component({ name: 'AttendCounter' })
export default class AttendCounter extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() count: number
  @Prop() isVoted: boolean
  @Prop() loading: boolean
  @Prop({ required: false, default: false }) disabled: boolean

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit('onClick') onClick() {}
}
</script>
<template>
  <!-- Dark theme issues if button is active -->
  <v-btn
    :outlined="!isVoted"
    :dark="loading || disabled ? false : isVoted || loading"
    :loading="loading"
    :disabled="loading || disabled"
    class="mc"
    color="blue"
    style="flex-grow: 1"
    @click="onClick"
  >
    <v-icon>mdi-run</v-icon>
    <span class="subheading ml-1">{{ count }}</span>
  </v-btn>
</template>

<style scoped lang="scss">
.mc {
  &_emoji {
    height: 2em;
    width: 2em;
  }
}
</style>
