<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'
import { Routes } from '@/router'
import _ from 'lodash'
import { namespace } from 'vuex-class'
import { CommentsNamespace } from '~/store/comments'

const auth = namespace('auth')
const comments = namespace(CommentsNamespace)

@Component({})
export default class CommentEdit extends Vue {
  @auth.Getter('profile') user!: Auth.ProfilePublic
  @comments.Action create!: Comments.CreateAV2

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() event: Events.Event
  @Prop() comment: Comments.CommentV2 //TODO:DELETE
  @Prop() text: string
  @Prop() loading: boolean

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit() cancel() {
    return this.textEdited
  }

  @Emit() save() {
    return this.textEdited
  }

  //hooks
  mounted() {
    this.textEdited = this.text
  }

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  textLimitMin = 2
  textLimitMax = 150
  Routes = Routes
  isEditMode = false
  textEdited = ''

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get getCounter() {
    return this.textEdited.length > this.textLimitMax ? this.textLimitMax : null
  }

  get isEditValid() {
    const text = this.text.trim()
    const charsCount = text.length
    return charsCount >= this.textLimitMin && charsCount <= this.textLimitMax
  }

  get getTextareaPlaceholder() {
    if (!this.user) {
      return 'Please log in to leave messages'
    }
    return 'Write your message...'
  }

  get isOwner() {
    return this.comment.userId === this.user?.id
  }

  get isDeleted() {
    if (!this.comment) return false //? Exn - might be new comment
    return !this.comment.userId && this.comment.deletedAt
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  onSave() {
    if (this.isEditValid) {
      this.save()
    }
  }
}
</script>

<template>
  <!-- Show comment only if not deleted, or has replies -->
  <div class="comment mb-5" flat>
    <!-- //* Remove padding for children (replies) -->
    <div :size="55" tile color="grey" class="rounded mr-3">
      <Img
        :src="user && user.img"
        :default="$config.userDefaultImg"
        :width="'55px'"
        :height="'55px'"
        round="10px"
      />
    </div>
    <!-- //* If collapsed - move content to top -->
    <div class="comment-content">
      <div class="header__wrapper">
        <div class="header d-flex align-center">
          <nuxt-link
            v-if="user"
            class="text-decoration-none"
            :to="'/profile/userId'"
          >
            <div class="header__user">
              {{ user.displayName }}
            </div>
          </nuxt-link>
        </div>
        <div
          v-if="comment.createdAt && !isDeleted"
          class="header__date ml-3 mr-3"
        >
          {{ comment.createdAt | formatAgo }}
        </div>
        <div class="header__menu">
          <v-spacer />
        </div>
      </div>
      <v-textarea
        v-model="textEdited"
        :loading="loading"
        :readonly="loading"
        :counter="getCounter"
        :placeholder="getTextareaPlaceholder"
        :disabled="!user"
        ref="commentTextarea"
        rows="3"
        dense
        outlined
        name="input-comment"
        color="blue"
        hide-details="auto"
        @keydown.enter.shift.exact="save"
      />
      <div class="d-flex mt-2">
        <v-spacer />
        <v-btn small outlined @click="cancel">Cancel</v-btn>

        <v-btn
          small
          class="ml-4"
          color="#0088ff"
          outlined
          :disabled="!isEditValid"
          :loading="loading"
          :class="{ 'disable-events': loading }"
          @click="save"
        >
          Save
        </v-btn>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.comment {
  display: flex;
  flex-direction: row;
  .comment-text {
    white-space: pre-line;
    color: #424242;
    line-height: 1.4em;
  }

  // TODO: check if can remove, since present at App.vue,
  .disable-events {
    pointer-events: none;
  }

  .comment-content {
    flex-grow: 1;
  }
  .comment-content:hover {
    .comment-menu {
      opacity: 1 !important;
    }
  }

  .header__wrapper {
    display: flex;
  }

  .header__menu {
    flex-shrink: 0;
  }

  .header {
    flex-grow: 1;
    flex-wrap: wrap;

    &__user {
      font-size: 1em;
      font-weight: bold;
      color: #1ea0ff;

      &--replied {
        color: #1ea0ff;
        // color: #888888;
      }
    }
    &__date {
      font-size: 0.9em;
      color: #888888;
    }
  }

  &.expandable {
    cursor: pointer;
  }
}
</style>
