<script lang="ts">
import { Routes } from '@/router'
import { Vue, Component, Prop, Watch, Emit } from 'vue-property-decorator'
import { namespace } from 'vuex-class'

const auth = namespace('auth')

@Component({ components: {} })
export default class CommentVotes extends Vue {
  @auth.Getter('profile') user!: Auth.User

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit() emitUpvote() {
    console.log('emitUpvote')
    return
  }
  @Emit() emitDownvote() {
    console.log('emitDownvote')
    return
  }
  @Emit() emitUpvoteReset() {
    console.log('emitUpvoteReset')
    return
  }
  @Emit() emitDownvoteReset() {
    console.log('emitDownvoteReset')
    return
  }

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() comment: Comments.Comment
  @Prop() upvotesUsers: { user: Comments.User }[]
  @Prop() downvotesUsers: { user: Comments.User }[]

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  showUsers = false
  Routes = Routes

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get isLogged() {
    return !this.user
  }

  get isDownvotedByAuthed() {
    return false //todo:
  }

  //*===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀Watchers

  //* If popover event happened - check num of upvoted users, if none - set to false
  @Watch('showUsers') showUsersCheck() {
    this.$nextTick(() => {
      if (this.anyUpvotes) return
      this.showUsers = false
    })
  }

  //* If number of upvotes has updated - run thru showUsersCheck logic
  @Watch('anyUpvotes') anyUpvotesUpdated() {
    this.showUsersCheck()
  }

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get isUpvotedByAuthed() {
    const findUserById = ({ user }: { user: Comments.User }) =>
      user?.id === this.user?.id

    return this.upvotesUsers.find(findUserById)
  }

  get anyUpvotes() {
    return this.upvotesUsers.length > 0
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async upvote() {
    //? Exn: non-logged user is trying to vote
    if (!this.isLogged) {
      console.log('TODO: user is not logged')
      return
    }

    //* If already downvoted - clear downvote
    if (this.isDownvotedByAuthed) {
      this.downvote()
      return
    }

    this.loading = true
    //? Clear upvote if user already upvoted and clicks btn again
    if (this.isUpvotedByAuthed) {
      this.emitDownvote()
    } else {
      this.emitUpvote()
    }
    this.loading = false
  }

  async downvote() {
    //? Exn: non-logged user is trying to vote
    if (!this.isLogged) {
      console.log('TODO: user is not logged')
      return

      // return this.$showSnack(this.$config.TextLoginToVote)
    }

    //* If already upvoted - clear upvote
    if (this.isUpvotedByAuthed) {
      return this.upvote()
    }

    this.loading = true
    //? Clear upvote if user already upvoted and clicks btn again
    if (this.isDownvotedByAuthed) {
      // const p = { commentId: this.comment?.id, userId: this.user?.id || '' }
      // const [err, res] = await to(this.vuexDownvoteReset(p))
      // if (err) return
      // this.emitUpdate(res)
      // TODO:EMIT RESET
    } else {
      // TODO:EMIT DOWNVOTE
      // if (err) return
    }
    this.loading = false
  }
}
</script>

<template>
  <div class="comment-votes d-inline-flex align-center">
    <div class="upvote-section d-flex align-center">
      <v-menu
        v-model="showUsers"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
        :open-on-hover="anyUpvotes"
      >
        <template v-slot:activator="{ on, attrs }">
          <div
            v-bind="attrs"
            v-on="on"
            class="upvotes"
            :class="{ 'd-highlight': isUpvotedByAuthed }"
          >
            <span
              v-show="anyUpvotes"
              class="upvotes-count"
              :class="{ 'upvote-highlight': isUpvotedByAuthed }"
            >
              {{ upvotesUsers.length }}
            </span>
            <v-btn
              :ripple="false"
              :class="{ 'upvote-highlight': isUpvotedByAuthed }"
              :disabled="loading"
              small
              icon
              class="vote-btn no-background-hover"
              @click="upvote"
            >
              <v-icon>mdi-chevron-up</v-icon>
            </v-btn>
          </div>
        </template>

        <v-card v-if="anyUpvotes">
          <v-list>
            <v-list-item
              v-for="user in upvotesUsers"
              :key="user.id"
              :to="{
                name: Routes.profile.name,
                params: { userId: user.id }
              }"
            >
              <v-list-item-avatar tile class="rounded">
                <Img
                  :src="user.img"
                  :default="$config.userDefaultImg"
                  round="10px"
                />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ user.nickname }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </div>
    <div>
      <span class="separator"></span>
    </div>
    <v-btn
      :ripple="false"
      :class="{ 'downvote-highlight': isDownvotedByAuthed }"
      :disabled="loading"
      small
      icon
      class="vote-btn no-background-hover"
      @click="downvote"
    >
      <v-icon>mdi-chevron-down</v-icon>
    </v-btn>
  </div>
</template>

<style lang="scss" scoped>
$color: #888888;
$upvoteHighlight: #1b9fff;
$downvoteHighlight: #ff4040;

.comment-votes {
  color: $color;

  .upvote-section {
    cursor: pointer;
  }

  .upvotes-count.upvote-highlight {
    color: $upvoteHighlight !important;
  }

  .upvotes {
    color: $color !important;

    &.upvote-highlight {
      color: $upvoteHighlight !important;
    }
  }

  .vote-btn {
    padding: 0 !important;

    &.upvote-highlight {
      .v-icon {
        color: $upvoteHighlight !important;
      }
    }

    &.downvote-highlight {
      .v-icon {
        color: $downvoteHighlight !important;
      }
    }

    //* Change content-icon color
    .v-icon {
      color: $color !important;
    }

    //* Remove background
    &::before {
      background-color: transparent !important;
    }
  }

  .separator {
    height: 0.8em;
    position: relative;
    border-right: 2px solid #c2c6cc;
    margin: 0 5px;
  }
}
</style>
