<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'
import { handleErr, to } from '@/utils/helpers'
import { Routes } from '@/router'
import _ from 'lodash'
import { namespace } from 'vuex-class'
import { CommentsNamespace } from '~/store/comments'
import CommentEdit from '@/components/CommentEdit.vue'
import CommentVotes from '@/components/CommentVotes.vue'

const auth = namespace('auth')
const comments = namespace(CommentsNamespace)

@Component({ components: { CommentEdit, CommentVotes } })
export default class Comment extends Vue {
  @auth.Getter('profile') user!: Auth.ProfilePublic

  @comments.Action update!: Comments.UpdateAV2
  @comments.Action delete!: Comments.DeleteAV2

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() event: Events.Event
  @Prop() comment: Comments.CommentV2

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit('onReply') onReply() {
    return {
      userId: this.comment.userId,
      userName: this.comment.userName
    }
  }

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  Routes = Routes
  isEditMode = false

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get isOwner() {
    return this.comment.userId === this.user?.id
  }

  get isDeleted() {
    if (!this.comment) return false //? Exn - might be new comment
    return !this.comment.userId && this.comment.deletedAt
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async onSaveEdit(text: string) {
    this.loading = true
    const p = { text, id: this.comment.id }
    const [err] = await to(this.update(p))
    this.loading = false
    if (err) return handleErr(err)
    this.loading = false
    this.isEditMode = false
  }

  async onDelete() {
    this.loading = true
    const [err] = await to(this.delete(this.comment.id))
    this.loading = false
    if (err) return handleErr(err)
    this.loading = false
  }
}
</script>

<template>
  <!-- Show comment only if not deleted, or has replies -->
  <CommentEdit
    v-if="isEditMode"
    :event="event"
    :comment="comment"
    :text="comment.text"
    :loading="loading"
    @cancel="isEditMode = false"
    @save="onSaveEdit"
  />
  <div v-else class="comment mb-5" flat>
    <!-- //* Remove padding for children (replies) -->
    <div :size="55" tile color="grey" class="rounded mr-3">
      <Img
        :src="comment.userImg"
        :default="$config.userDefaultImg"
        :width="'55px'"
        :height="'55px'"
        round="10px"
      />
    </div>
    <!-- //* If collapsed - move content to top -->
    <div class="comment-content">
      <div class="header__wrapper">
        <div class="header d-flex align-center">
          <nuxt-link
            v-if="comment.userName"
            class="text-decoration-none"
            :to="localePath(`/profile/${comment.userId}`)"
          >
            <div class="header__user">
              {{ comment.userName }}
            </div>
          </nuxt-link>
          <div v-else class="header__user gray">Anon</div>
          <v-chip
            v-show="event.organizerId == comment.userId"
            class="ml-4"
            pill
            small
            color="blue"
            dark
          >
            {{ this.$t('Organizer') }}
          </v-chip>
        </div>
        <div
          v-if="comment.createdAt && !isDeleted"
          class="header__date ml-3 mr-3"
        >
          {{ comment.createdAt | formatAgo }}
        </div>
        <div class="header__menu">
          <v-spacer />
          <CommentMenu
            :loading="loading"
            :isDeleted="isDeleted"
            :isOwner="isOwner"
            class="comment-menu"
            @edit="isEditMode = true"
            @destroy="onDelete"
          />
          <!-- @destroy="isConfirmDelete = true"
            @minify="isCollapsed = !isCollapsed"
            @report="isReportDialog = true" -->
        </div>
      </div>
      <div v-if="!isEditMode">
        {{ comment.text }}
      </div>
      <!-- <CommentVotes
        :getUser="user"
        :comment="comment"
        :upvotesUsers="[]"
        :downvotesUsers="[]"
      /> -->
      <!-- //* Reply to current comment -->
      <span
        v-if="!user || comment.userId != user.id"
        class="ml-1 reply-btn"
        @click="onReply"
      >
        Reply
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.comment {
  display: flex;
  flex-direction: row;

  .comment-text {
    white-space: pre-line;
    color: #424242;
    line-height: 1.4em;
  }

  // TODO: check if can remove, since present at App.vue,
  .disable-events {
    pointer-events: none;
  }

  .comment-content {
    flex-grow: 1;
  }
  .comment-content:hover {
    .comment-menu {
      opacity: 1 !important;
    }
  }

  .header__wrapper {
    display: flex;
  }

  .header__menu {
    flex-shrink: 0;
  }

  .header {
    flex-grow: 1;
    flex-wrap: wrap;

    &__user {
      font-size: 1em;
      font-weight: bold;
      color: #1ea0ff;

      &.gray {
        color: gray;
        font-weight: normal;
      }

      &--replied {
        color: #1ea0ff;
        // color: #888888;
      }
    }
    &__date {
      font-size: 0.9em;
      color: #888888;
    }
  }

  &.expandable {
    cursor: pointer;
  }

  .reply-btn {
    color: #666666;
    cursor: pointer;

    &:hover {
      color: var(--v-lightBlue-base) !important;
    }
  }
}
</style>
