<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { handleErr, to } from '@/utils/helpers'
import { Routes } from '@/router'
import _ from 'lodash'
import { namespace } from 'vuex-class'
import { CommentsNamespace } from '~/store/comments'

const auth = namespace('auth')
const comments = namespace(CommentsNamespace)

@Component({})
export default class Comment extends Vue {
  @auth.Getter('profile') user!: Auth.ProfilePublic
  @comments.Action create!: Comments.CreateAV2

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() event: Events.Event
  @Prop() replyUserName: string
  @Prop() replyUserId: string

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  editedText = ''
  loading = false
  textLimitMin = 2
  textLimitMax = 150
  Routes = Routes

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get getCounter() {
    return this.editedText.length > this.textLimitMax ? this.textLimitMax : null
  }

  get isEditValid() {
    const text = this.editedText.trim()
    const charsCount = text.length
    return charsCount >= this.textLimitMin && charsCount <= this.textLimitMax
  }

  get getTextareaPlaceholder() {
    if (!this.user) {
      return 'Please log in to leave messages'
    }
    return 'Write your message...'
  }

  // True if current comment is a reply
  get isReply() {
    if (!this.replyUserName || !this.replyUserId) return false
    const modName = '@' + this.replyUserName
    //* Trim text, and adjust newline character
    const text = this.editedText.trim().replace(String.fromCharCode(10), '\n')
    if (text.startsWith(modName + ' ') || text.startsWith(modName + '\n')) {
      return true
    }
    return false
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    if (this.replyUserName) {
      this.editedText = '@' + this.replyUserName
      const textarea = this.$refs.commentTextarea as Types.VTextarea
      textarea?.focus()
    }
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async onSave() {
    //? Exn: send to auth
    // if (!this.user) {
    //   this.loading = true
    //   const [err, __] = await to(this.vuexSignupAnon())
    //   this.loading = false
    //   if (err) {
    //     // return this.$showSnack('Error, please try again later')
    //   }
    // }
    if (!this.isEditValid) return

    const text = this.editedText.trim()

    this.loading = true
    let p: Comments.CreatePV2 = { text, eventId: this.event.id }
    //* If info about reply is preset
    if (this.isReply) {
      p.replyTo = this.replyUserId
    }
    const [err] = await to(this.create(p))
    this.loading = false
    if (err) return handleErr(err)
    this.editedText = ''
    return Promise.resolve()
  }
}
</script>

<template>
  <!-- Show comment only if not deleted, or has replies -->
  <div class="comment" flat>
    <!-- //* Remove padding for children (replies) -->
    <div :size="55" tile color="grey" class="rounded mr-3">
      <Img
        :src="user && user.img"
        :default="$config.userDefaultImg"
        :width="'55px'"
        :height="'55px'"
        round="10px"
      />
    </div>
    <!-- //* If collapsed - move content to top -->
    <div class="comment-content">
      <div class="header__wrapper">
        <div class="header d-flex align-center">
          <nuxt-link
            v-if="user"
            class="text-decoration-none"
            :to="{
              name: Routes.profile.name,
              params: { userId: user && user.id }
            }"
          >
            <div class="header__user">
              {{ user.displayName }}
            </div>
          </nuxt-link>
        </div>
      </div>
      <v-textarea
        v-model="editedText"
        :loading="loading"
        :readonly="loading"
        :counter="getCounter"
        :placeholder="getTextareaPlaceholder"
        :disabled="!user"
        ref="commentTextarea"
        rows="2"
        dense
        outlined
        name="input-comment"
        color="blue"
        hide-details="auto"
        @keydown.enter.shift.exact="onSave"
      />
      <div class="d-flex mt-2">
        <v-spacer />
        <v-btn
          small
          class="ml-4"
          color="#0088ff"
          outlined
          :disabled="!isEditValid"
          :loading="loading"
          :class="{ 'disable-events': loading }"
          @click="onSave"
        >
          {{ this.$t('SaveComment') }}
        </v-btn>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.comment {
  display: flex;
  flex-direction: row;
  .comment-text {
    white-space: pre-line;
    color: #424242;
    line-height: 1.4em;
  }

  // TODO: check if can remove, since present at App.vue,
  .disable-events {
    pointer-events: none;
  }

  .comment-content {
    flex-grow: 1;
  }
  .comment-content:hover {
    .comment-menu {
      opacity: 1 !important;
    }
  }

  .header__wrapper {
    display: flex;
  }

  .header__menu {
    flex-shrink: 0;
  }

  .header {
    flex-grow: 1;
    flex-wrap: wrap;

    &__user {
      font-size: 1em;
      font-weight: bold;
      color: #1ea0ff;

      &--replied {
        color: #1ea0ff;
        // color: #888888;
      }
    }
    &__date {
      font-size: 0.9em;
      color: #888888;
    }
  }

  &.expandable {
    cursor: pointer;
  }
}
</style>
