<script lang="ts">
import { Vue, Component, Emit, Prop } from 'vue-property-decorator'

@Component({ components: {} })
export default class CommentMenu extends Vue {
  @Prop() isDeleted: boolean
  @Prop() isOwner: boolean
  @Prop() loading: boolean

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit() edit() {
    return
  }

  @Emit() destroy() {
    return
  }

  @Emit() report() {
    return
  }

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters
}
</script>

<template>
  <div v-if="isOwner">
    <v-menu v-if="!isDeleted" bottom left>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          :loading="loading"
          :disabled="loading"
          small
          icon
        >
          <v-icon>mdi-dots-horizontal</v-icon>
        </v-btn>
      </template>

      <v-list v-if="isOwner">
        <v-list-item @click="edit()">
          <v-list-item-title>Edit</v-list-item-title>
        </v-list-item>
        <v-list-item @click="destroy()">
          <v-list-item-title>Delete</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-list v-else>
        <v-list-item @click="report()">
          <v-list-item-title>Report</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<style lang="scss" scoped>
.comment-menu {
}
</style>
