<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator'
// import { i18n, Msg } from '@/plugins/i18n'
import Dialog from '@/components/Dialog'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

interface VueRef extends Element {
  $el: HTMLElement
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ mixins: [Dialog] })
export default class ConfirmationDialog extends Mixins(Dialog) {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop(Boolean) isLoading: boolean // * Show spinner on buttons if waiting response
  @Prop(Boolean) hideCancleBtn: boolean // * Toggle cancel button visibility
  @Prop(Boolean) persistent: boolean // * Prevent closing dialog by clicking backdrop
  @Prop(String) title: string // * Text displayed in header
  @Prop(String) body: string // * Text displayed as body
  @Prop(Function) action: () => {} // * Action to be executed upon confirming
  @Prop({ default: 'Submit', type: String }) submitButtonText: string

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  //* On mounted - focus confirm button (on enter key press - goes to page)
  // mounted() { setTimeout(this.focusConfirmBtn, 100)}

  //* Focuses on confirmation btn
  focusConfirmBtn() {
    const confirmBtn = this.$refs.confirmBtn as VueRef
    confirmBtn?.$el?.focus()
  }
}
</script>

<template>
  <v-dialog
    v-model="isOpen"
    max-width="350"
    :persistent="persistent || isLoading"
  >
    <v-card>
      <!-- //* Title and message of the confirmation -->
      <v-card-title>
        <span class="headline">{{ title }}</span>
      </v-card-title>
      <v-card-text>{{ body }}</v-card-text>

      <!-- //* Action buttons -->
      <v-card-actions>
        <v-spacer />
        <v-btn
          v-if="!hideCancleBtn"
          :disabled="isLoading"
          text
          @click="isOpen = false"
        >
          {{ $txt.Cancel() }}
        </v-btn>
        <v-btn
          :loading="isLoading"
          ref="confirmBtn"
          text
          color="accent"
          @click="action"
        >
          {{ submitButtonText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style lang="scss" scoped>
.headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
