<script lang="ts">
/*
  Usage examples
  
  <Cta :text="$txt.NoItemsYet()" icon="mdi-folder-search" />
  <Cta>
    <v-icon class="cta-icon">mdi-folder-search</v-icon>
    <span class="cta-text">{{ $txt.NoItemsYet() }}</span>
  </Cta>
*/

import { Vue, Component, Prop } from 'vue-property-decorator'

//*===🎯===🎯===🎯===🎯===🎯===🎯===🎯===🎯===🎯===🎯===🎯===🎯Main

@Component({})
export default class Cta extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop({ default: '' }) icon: string
  @Prop(String) text: string
}
</script>

<template>
  <v-container class="cta" fluid>
    <v-row align="center" justify="center" direction="column">
      <v-col xs="12" sm="10" md="8" lg="5">
        <div class="content-container">
          <slot>
            <div>
              <v-icon class="cta-icon">
                {{ icon ? icon : 'mdi-folder-search' }}
              </v-icon>
            </div>
            <div class="cta-text">
              {{ text ? text : $txt.NotFound() }}
            </div>
          </slot>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss" scoped>
// ! Enable pointer events after custom slots are introduced
.cta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cta-icon {
      color: #dddddd;
      font-size: 10em;
    }

    .cta-text {
      display: flex;
      text-align: center;
      width: 80%;
      font-size: 1.5em;
      color: #bbbbbb;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
