<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator'
import Dialog from '@/components/Dialog'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ mixins: [Dialog] })
export default class DialogBase extends Mixins(Dialog) {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop({ required: false, default: '' }) title: string
  @Prop() loading: boolean
  @Prop({ required: false, default: false }) hideClose: boolean

  notifications = false
  sound = true
  widgets = false

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  onSave() {
    this.$emit('onSave')
  }

  onCancel() {
    this.$nextTick(() => {
      this.$emit('onCancel')
    })
    this.isOpen = false
  }

  onClear() {
    this.$emit('onClear')
  }
}
</script>

<template>
  <!-- <v-dialog
    v-model="isOpen"
    :fullscreen="true"
    :persistent="persistent"
    :no-click-animation="persistent"
    width="600px"
    scrollable
    @keydown.esc="onCancel"
  > -->
  <v-dialog
    v-model="isOpen"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <!-- <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark v-bind="attrs" v-on="on">Open Dialog</v-btn>
    </template> -->
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn
          v-if="!hideClose"
          :loading="loading"
          :disabled="loading"
          icon
          dark
          @click="onCancel"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
            :loading="loading"
            :disabled="loading"
            dark
            text
            @click="onSave"
          >
            {{ this.$t('Save') }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <slot />
      </v-container>
    </v-card>
  </v-dialog>
</template>

<style lang="scss">
.dialog-base {
  .dialog-base__content {
    display: flex !important; //* Override vuetify
    justify-content: center;
    align-items: center;

    .text-title {
      color: #69757c;
    }
    .text-subtitle {
      color: #69757c;
      font-size: 1.5em;
      margin-bottom: 1rem;
    }
  }
}
</style>
