<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator'
import Dialog from '@/components/Dialog'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ mixins: [Dialog] })
export default class DialogBase extends Mixins(Dialog) {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop({ required: false, default: '' }) title: string
  @Prop({ required: false, default: '' }) subtitle: string
  @Prop({ required: false, default: '' }) clearBtnText: string
  @Prop({ required: false, default: false }) isLoading: boolean
  @Prop({ required: false, default: false }) isClearable: boolean
  @Prop({ required: false, default: false }) persistent: boolean
  @Prop({ required: false, default: false }) isSaveDisabled: boolean
  @Prop({ required: false, default: false }) isClearDisabled: boolean
  @Prop({ required: false, default: false }) noSaveBtn: boolean
  @Prop({ required: false, default: false }) noCancelBtn: boolean

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  onSave() {
    this.$emit('onSave')
  }

  onCancel() {
    this.$emit('onCancel')
  }

  onClear() {
    this.$emit('onClear')
  }
}
</script>

<template>
  <v-dialog
    v-model="isOpen"
    :fullscreen="true"
    :persistent="persistent"
    :no-click-animation="persistent"
    width="600px"
    scrollable
    @keydown.esc="onCancel"
  >
    <!-- transition="fab-transition" -->
    <v-card class="dialog-base">
      <v-card-title class="mb-5">
        {{ title }}
        <v-spacer />
        <v-btn icon @click="onCancel" :disabled="isLoading">
          <v-icon color="grey lighten-1">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="dialog-base__content">
        <v-container fluid>
          <v-row v-if="title" fill-height align="center" justify="center">
            <h1 class="text-title mb-3">{{ title }}</h1>
          </v-row>
          <v-row v-if="subtitle" fill-height align="center" justify="center">
            <div class="text-subtitle mb-3">{{ subtitle }}</div>
          </v-row>
          <v-row fill-height align="center" justify="center">
            <v-col md="12" lg="8" xl="8">
              <slot />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <!-- //* BUTTONS: cancel and submit -->
      <v-card-actions>
        <!-- //** Aligns btns right -->
        <v-spacer />

        <!-- //** Cancel button -->
        <v-btn
          v-if="!noCancelBtn"
          :disabled="isLoading"
          :loading="isLoading"
          :title="$txt.Close()"
          text
          @click="onCancel"
        >
          {{ $txt.Close() }}
        </v-btn>

        <!-- //** Clear button -->
        <v-btn
          v-if="isClearable"
          :disabled="isLoading || isClearDisabled"
          :loading="isLoading"
          :title="clearBtnText ? clearBtnText : $txt.Clear()"
          text
          @click="onClear"
        >
          {{ clearBtnText ? clearBtnText : $txt.Clear() }}
        </v-btn>

        <!-- //** Submit button -->
        <v-btn
          v-if="!noSaveBtn"
          :disabled="isLoading || isSaveDisabled"
          :loading="isLoading"
          :title="$txt.Save()"
          color="accent"
          text
          @click="onSave"
        >
          {{ $txt.Save() }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style lang="scss">
.dialog-base {
  .dialog-base__content {
    display: flex !important; //* Override vuetify
    justify-content: center;
    align-items: center;

    .text-title {
      color: #69757c;
    }
    .text-subtitle {
      color: #69757c;
      font-size: 1.5em;
      margin-bottom: 1rem;
    }
  }
}
</style>
