<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import DialogBaseSlider from '@/components/DialogBaseSlider.vue'
import { routerpush, showSnack, to, updateFormValues } from '@/utils/helpers'
import Forms, { FormEvent } from '~/custom/forms'
import FormParser from './FormParser.vue'
import { namespace } from 'vuex-class'
import { v4 as uuidv4 } from 'uuid'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

const events = namespace('events')

type EventError = {
  code: string
  message: string
}
@Component({ components: { DialogBaseSlider } })
export default class EventCreateDialog extends DialogBaseSlider {
  @events.Action('create') createEvent!: Events.CreateA
  @events.Action('uploadImg') uploadImg!: Events.UploadImgA
  @events.Action('update') updateEvent!: Events.CreateA

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() edit: Events.Event // * Used to show edit dialog

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  error: null | EventError = null
  isLoading = false
  formFields: FormEvent = Forms.event()

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get dialogTitle() {
    return this.edit ? 'Update Event' : 'Create Event'
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  async mounted() {
    this.initFields()
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async initFields() {
    if (!this.edit) return
    //* If editing - update form fields to old values
    const [err, res] = await to(updateFormValues(this.formFields, this.edit))
    if (err) return //? Exn
    this.formFields = res
    this.formFields.time.value = this.formFields.date.value
    // this.imgOriginal = this.formFields.img.value
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm() //TODO:
  }

  async onSubmit(p: {
    title: string
    text: string
    date: string
    time: string
    img: File
    place: string
    positionLat: number
    positionLng: number
  }) {
    console.log('EDITED EVENT', p)

    const { title, text, date, time, img, positionLat, positionLng, place } = p

    this.isLoading = true

    //* Combine minutes/time
    var datetime = new Date(date)
    var timeTemp = new Date(time)
    datetime.setHours(timeTemp.getHours())
    datetime.setMinutes(timeTemp.getMinutes())

    //TODO: move it to store?
    const eventData: Events.CreateP = {
      id: this.edit ? this.edit.id : uuidv4(),
      title,
      text,
      date: datetime.valueOf(),
      img: '', //Populate w imgLink
      positionLat,
      positionLng,
      place
    }
    const isNew = !this.edit

    if (isNew) {
      //** CREATE EVENT

      //* Upload img
      console.log('Uploading image... ')
      const p: Events.UploadImgP = { file: img, eventId: eventData.id }

      const [err, imgLink] = await to(this.uploadImg(p))
      console.log('Uploading image... uploaded')
      if (err) {
        this.isLoading = false
        console.log('Uploading image error:', err)
        return
      }
      eventData.img = imgLink
    } else {
      //** UPDATE EVENT
      //* Upload img if updated
      if (this.formFields.img.isUpdated) {
        //* Upload img
        const p: Events.UploadImgP = {
          file: img,
          eventId: eventData.id,
          oldImgPath: this.edit.img
        }
        const [err, imgLink] = await to(this.uploadImg(p))
        if (err) {
          this.isLoading = false
          return
        }
        eventData.img = imgLink
      } else {
        delete eventData.img
      }
      eventData.id = this.edit.id
      const [error, __] = await to(this.updateEvent(eventData))
      this.isLoading = false
      //? Exn: handle errors and return
      if (error) return this.handleError(error)
      this.isOpen = false
      showSnack(this, 'Event is saved')
      return Promise.resolve()
    }

    console.log('Creating event...')

    const [error, __] = await to(this.createEvent(eventData))
    this.isLoading = false

    //? Exn: handle errors and return
    if (error) return this.handleError(error)
    this.isOpen = false
    routerpush(this, `/events/${eventData.id}`)
    showSnack(this, 'Event is saved, redirecting...')
  }

  handleError(err: Types.ResponseError) {
    this.error = { code: err.code, message: err.message }

    //TODO:
    //* Override errors with custom messages
    // const code = err.code
    // if (code === AuthErrors.NoUser) {
    //   this.error.message = this.$txt.AuthNoUser()
    // } else if (code === AuthErrors.WrongPassword) {
    //   this.error.message = this.$txt.AuthWrongPassword()
    // } else if (code === AuthErrors.EmailUsed) {
    //   this.error.message = this.$txt.AuthEmailUsed()
    // }
  }
}
</script>

<template>
  <DialogBaseSlider
    v-model="isOpen"
    :loading="isLoading"
    :noSaveBtn="true"
    :isClearable="true"
    :noCancelBtn="true"
    :title="dialogTitle"
    @onSave="submitForm"
    @onCancel="isOpen = false"
  >
    <FormParser
      ref="FormParser"
      :isLoading="isLoading"
      :formFields="formFields"
      @onSubmit="onSubmit"
      @onUpdateFormFields="(v) => (this.formFields = { ...v })"
    >
      <template v-slot:default>
        <v-alert
          v-if="!!error"
          dense
          outlined
          type="error"
          transition="slide-y-transition"
        >
          {{ error.message }}
        </v-alert>
      </template>
    </FormParser>
  </DialogBaseSlider>
</template>

<style lang="scss">
.report-dialog {
}
</style>
