<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import AttendCounter from './AttendCounter.vue'
import MaybeCounter from './MaybeCounter.vue'
import EventAttendance from '@/mixins/EventAttendance'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({
  components: { MaybeCounter, AttendCounter },
  mixins: [EventAttendance]
})
export default class EventButtons extends Mixins(EventAttendance) {
  @Prop({ required: false, default: false }) disabled: boolean
}
</script>
<template>
  <div class="d-flex">
    <AttendCounter
      :disabled="disabled"
      :isVoted="isAttending"
      :loading="loading"
      :count="countAttend"
      class="mr-2"
      @onClick="onAttend"
    />

    <MaybeCounter
      class="ml-2"
      :disabled="disabled"
      :isVoted="isMaybe"
      :loading="loading"
      :count="countMaybe"
      @onClick="onMaybe"
    />
  </div>
</template>

<style scoped lang="scss">
.event {
  &__date {
    color: #666666;
    font-size: 0.9em;
    display: flex;
  }
}
</style>
