<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { config } from '@/custom/config'
import { namespace } from 'vuex-class'
import { ATTEND_STATE } from '~/store/events'
import { isEventCompleted, parseText, showSnack } from '~/utils/helpers'
import AttendCounter from './AttendCounter.vue'
import MaybeCounter from './MaybeCounter.vue'
import RepliesSection from './RepliesSection.vue'
import EventButtons from './EventButtons.vue'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

const events = namespace('events')
const auth = namespace('auth')
@Component({
  name: 'Event',
  components: { MaybeCounter, AttendCounter, RepliesSection, EventButtons }
})
export default class Event extends Vue {
  @events.Action attend!: Events.AttendA
  @auth.Getter('profile') user!: Auth.User

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() event: Events.Event
  @Prop({ required: false, default: false }) isRepliesOpen: boolean
  @Prop({ required: false, default: false }) isEditButton: boolean
  //* Used to show shadow
  @Prop({ required: false, default: false }) isCardMode: boolean

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false // Disables actions
  showMap = false // Show/hide map
  isEditDialog = false // Show/hide edit dialog

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get text() {
    return parseText(this.event?.text ?? '', 120)
  }

  get isCompleted() {
    return isEventCompleted(this.event.date)
  }

  get isOwnEvent() {
    return this.event.organizerId == this.user?.id
  }

  get getImg() {
    if (this.event.img) return this.event.img
    return 'https://via.placeholder.com/600x300?text=Event+Picture'
  }

  //* Used to draw marker at map
  get marker() {
    //* Default, return center of istanbul
    const noLatLng = !this.event.positionLat || !this.event.positionLng
    if (
      noLatLng ||
      (this.event.positionLat == 0 && this.event.positionLng == 0)
    ) {
      return { position: config.mapCenterIstanbul }
    }

    return {
      position: {
        lat: this.event.positionLat,
        lng: this.event.positionLng
      }
    }
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async updateAttendance(v: ATTEND_STATE) {
    if (!this.user) {
      showSnack(this, 'Please signin to attend events')
      return
    }
    this.loading = true
    const p = { eventId: this.event.id, v }
    await this.attend(p)
    this.loading = false
  }
}
</script>
<template>
  <v-card
    v-if="event"
    class="mb-5 event rounded-0"
    :elevation="isCardMode ? 2 : 0"
  >
    <v-img :src="getImg" aspect-ratio="2" v-on:error="imgFail = true" />

    <v-row class="ma-2">
      <v-col>
        <h1 class="headline event-title">
          <nuxt-link
            :to="localePath(`/events/${event.id}`)"
            class="text-decoration-none"
          >
            {{ event.title }}
          </nuxt-link>

          <v-btn
            v-show="
              isEditButton && event && user && event.organizerId == user.id
            "
            icon
            color="primary"
            class="ml-3"
            @click="isEditDialog = true"
          >
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
          <v-chip
            v-show="event && user && event.organizerId == user.id"
            pill
            small
            color="blue"
            dark
          >
            {{ this.$t('Author') }}
          </v-chip>
          <v-chip v-show="event && isCompleted" pill small color="red" dark>
            Completed
          </v-chip>
        </h1>

        <div class="headline d-flex">
          <div class="event__date">
            {{ event.date | formatEventDate }}
            <v-icon class="ml-2 mr-1" color="#a0a0a0" small>
              mdi-clock-time-two-outline
            </v-icon>
            {{ event.date | formatEventHour }}
          </div>
          <br />
        </div>
        <v-btn
          :rounded="true"
          small
          class="map-info ml-3 mt-3"
          elevation="0"
          @click="showMap = !showMap"
        >
          <v-icon small>mdi-map-marker-outline</v-icon>
          <span class="eventplace_text">
            {{ event.place }}
          </span>
        </v-btn>
        <v-card v-if="showMap" height="35vh">
          <!-- //TODO: place name -->
          <Map
            ref="map"
            class="mt-5"
            :center="marker.position"
            :height="'100%'"
            :markers="[marker]"
          />
        </v-card>

        <div class="my-5">
          {{ text }}
        </div>

        <div v-show="event.organizerName" class="my-5" style="color: #777777">
          Organized by
          <nuxt-link
            class="text-decoration-none"
            :to="localePath(`/profile/${event.organizerId}`)"
          >
            {{ event.organizerName }}
          </nuxt-link>
        </div>

        <EventButtons
          :disabled="isCompleted || isOwnEvent"
          :event="event"
          :user="user"
          :loading="loading"
          @change="updateAttendance"
        />
      </v-col>
    </v-row>

    <v-container>
      <RepliesSection :event="event" :isOpen="isRepliesOpen" />
    </v-container>
    <EventCreateDialog
      v-if="isEditDialog"
      v-model="isEditDialog"
      :edit="event"
    />
  </v-card>
</template>

<style scoped lang="scss">
.event {
  .event-title {
    color: #347bd7;
  }

  &__date {
    color: #a0a0a0;
    font-size: 0.9em;
    display: flex;
  }

  .map-info {
    color: rgba(31, 47, 66, 0.5);
    background: rgba(31, 47, 66, 0.08);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  .eventplace_text {
    overflow: hidden;
    white-space: nowrap;
    max-width: 50vw;
    text-overflow: ellipsis;
    display: block;
  }
}
</style>
