<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { config } from '@/custom/config'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: {} })
export default class Img extends Vue {
  @Prop(String) src: string //* Image Primary
  @Prop(String) default: string //* Image Secondary (default)
  @Prop(String) width: string
  @Prop(String) height: string
  @Prop({ default: 0 }) round: string

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  isLoading = false
  imgFail = false

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get img() {
    if (!this.imgFail && this.src) return this.src
    return this.default ? this.default : config.notFoundImg //? Exn
  }
}
</script>

<template>
  <v-img
    :style="`border-radius: ${round}`"
    :src="img"
    :width="width || '100px'"
    :height="height || '100px'"
    v-on:error="imgFail = true"
    aspect-ratio="1.4"
  />
</template>

<style lang="scss" scoped></style>
