<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import moment from 'moment'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({})
export default class InputTime extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() value: string
  @Prop() errorMessages: string
  @Prop() label: string
  @Prop() loading: string
  @Prop() disabled: string
  @Prop() title: string

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  emits = { onChange: 'onChange', onSave: 'onSave' }
  date = ''
  menu = false
  originalValue = ''
  latestAcceptedValue = ''
  isReset = false

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get dateFormatted() {
    if (!this.date) return ''
    return moment(this.date).format('HH:mm')
  }

  set dateFormatted(value: string) {
    console.log('setting time, value', value)
    var momentDate = moment()
    momentDate.hour(+value.split(':')[0])
    momentDate.minute(+value.split(':')[1])
    console.log('setting time, moment', momentDate)
    console.log(
      'momentDate.toDate().toISOString()',
      momentDate.toDate().toISOString()
    )

    this.date = momentDate.toDate().toISOString()
    this.$emit(this.emits.onSave, this.date)
  }

  //*===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀Watchers

  @Watch('value', { immediate: true }) onValueUpdate() {
    if (!this.value) return
    this.date = this.value
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    this.originalValue = this.value
    this.latestAcceptedValue = this.value
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  allowedMonths(val: string) {
    const isCurrentDate = moment(val).isSame(new Date(), 'day')
    return !moment().isSameOrAfter(val) || isCurrentDate
  }

  onSave() {
    //* Compose date and emit to save at parent level
    this.$emit(this.emits.onSave, this.date)
    //* Cache the value - needed for component reset
    const date = new Date(this.date).toISOString()
    this.latestAcceptedValue = date
    //* Update value at menu
    const menu = this.$refs.menu as Types.VMenu
    menu.save(date)
    this.menu = false

    this.isReset = true
    this.$nextTick(() => (this.isReset = false))
  }

  onCancel() {
    this.menu = false
    this.$emit(this.emits.onSave, this.latestAcceptedValue)
  }

  onClear() {
    this.isReset = true
    this.$nextTick(() => {
      this.$emit(this.emits.onSave, this.latestAcceptedValue)
      this.isReset = false
    })
  }

  allowedStep(m: number) {
    return m % 5 === 0
  }
}
</script>

<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :close-on-click="false"
    :return-value.sync="date"
    ref="menu"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        :value="dateFormatted"
        :label="label"
        :loading="loading"
        :disabled="disabled"
        :error-messages="errorMessages"
        readonly
        v-bind="attrs"
        v-on="on"
      >
        <template v-slot:prepend>
          <v-icon color="lightBlue">mdi-clock-time-two-outline</v-icon>
        </template>
      </v-text-field>
    </template>

    <v-time-picker
      v-if="!isReset"
      v-model="dateFormatted"
      no-title
      scrollable
      format="24hr"
      :allowed-minutes="allowedStep"
    >
      <!-- //* Buttons -->
      <v-btn text color="pink" @click="onClear">Clear</v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="onCancel">Cancel</v-btn>
      <v-btn text color="primary" @click="onSave">OK</v-btn>
    </v-time-picker>
  </v-menu>
</template>

<style lang="scss" scoped>
$esgBlue: #206fea;

.create-introduction-describe {
  .date-label {
    line-height: 3.6em;
    margin-right: 1em;
    font-weight: bold;
  }
}
</style>
