<script lang="ts">
import { finderById } from '@/utils/helpers'
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

type Option = { id: string; name: string }

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({})
export default class InputTags extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() value: Option[]
  @Prop() errorMessages: string
  @Prop() label: string
  @Prop() loading: string
  @Prop() disabled: string
  @Prop() title: string
  @Prop() options: Option[]

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit() save(val: Option[]) {
    return val
  }

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  localValue = ''

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get chips(): Option[] {
    return this.value
  }

  set chips(val: Option[]) {
    this.save(val)
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  remove(item: Option) {
    const findById = finderById(item.id)
    const chipIndex = this.chips.findIndex(findById)
    this.chips.splice(chipIndex, 1)
    this.chips = [...this.chips]
  }
}
</script>

<template>
  <v-autocomplete
    v-model="chips"
    :items="options"
    :label="label"
    outlined
    dense
    chips
    small-chips
    multiple
    item-text="name"
    item-value="id"
    clearable
    solo
  />
</template>

<style lang="scss" scoped>
$esgBlue: #206fea;

.create-introduction-describe {
  .date-label {
    line-height: 3.6em;
    margin-right: 1em;
    font-weight: bold;
  }
}
</style>
