<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import moment from 'moment'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

const DefaultDate = () => ''

@Component({})
export default class DateInput extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() value: string
  @Prop() valueSecondary: string

  @Prop() errorMessages: string
  @Prop() label: string
  @Prop() loading: string
  @Prop() disabled: string
  @Prop() title: string

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  emits = { onChange: 'onChange', onSave: 'onSave' }
  menu = false

  //* new stuff
  dates = [DefaultDate()]
  get dateRangeText() {
    return this.dates.join(' ~ ')
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    if (this.value && this.valueSecondary) {
      this.dates = [this.value, this.valueSecondary]
    }
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  allowedMonths(val: string) {
    const isCurrentDate = moment(val).isSame(new Date(), 'day')

    return !moment().isSameOrAfter(val) || isCurrentDate
  }

  onSave() {
    const menu = this.$refs.menu as Types.VMenu
    menu.save(this.dates.sort())
    this.menu = false

    //* Emit so parent can save
    this.$emit(this.emits.onSave, this.dates[0], this.dates[1])
  }

  onCancel() {
    this.dates = [this.value, this.valueSecondary]
    this.menu = false
  }

  onClear() {
    this.dates = []
  }
}
</script>

<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="dates"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dateRangeText"
        :label="label"
        :loading="loading"
        :disabled="disabled"
        :error-messages="errorMessages"
        readonly
        v-bind="attrs"
        v-on="on"
      >
        <template v-slot:prepend>
          <v-icon color="lightBlue">mdi-calendar</v-icon>
        </template>
      </v-text-field>
    </template>

    <v-date-picker
      v-model="dates"
      :allowed-dates="allowedMonths"
      no-title
      scrollable
      range
    >
      <v-spacer></v-spacer>
      <!-- //* Buttons -->
      <v-btn text color="primary" @click="onClear">Clear</v-btn>
      <v-btn text color="primary" @click="onCancel">Cancel</v-btn>
      <v-btn text color="primary" @click="onSave">OK</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<style lang="scss" scoped>
$esgBlue: #206fea;

.create-introduction-describe {
  .date-label {
    line-height: 3.6em;
    margin-right: 1em;
    font-weight: bold;
  }
}
</style>
