<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { Language, Languages } from '@/types/'
import { config } from '@/custom/config'
import { i18nLocales } from '~/plugins/i18n'
import { showSnack } from '~/utils/helpers'

const language = namespace('language')

@Component({})
export default class LangSelector extends Vue {
  // * Vuex 💧 💧 💧 💧 💧 💧 💧 💧 💧 💧 💧

  @language.Getter('lang') lang!: Languages
  @language.Action setLang!: (lang: Language) => Promise<null>

  // * Props 👜 👜 👜 👜 👜 👜 👜 👜 👜 👜 👜

  @Prop(Boolean) dark: boolean

  // * Data 🍎 🍎 🍎 🍎 🍎 🍎 🍎 🍎 🍎 🍎 🍎
  i18nLocales = i18nLocales

  // * Getter

  get languages() {
    return config.allowedLang
  }

  //@ts-ignore
  reload(item: string) {
    console.log('Lang selector item', item)
    // this.$i18n.locale = item
    //@ts-ignore
    showSnack(this, 'Please wait...')
    setTimeout(() => {
      window.location.reload()
    }, 5000)
  }
}
</script>

<template>
  <v-menu :min-width="100">
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on" :dark="dark">
        <v-icon>mdi-earth</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="item in i18nLocales"
        :to="switchLocalePath(item)"
        :key="item"
        @click="() => reload(item)"
      >
        <!-- @click.stop="onSelectLang(item)" -->
        <v-list-item-title class="text-xs-center">
          {{ item.toUpperCase() }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<style lang="scss" scoped>
.active-lang {
  background: #444444;
  color: white;
}
</style>
