<script lang="ts">
import { Component, Emit, Vue, Prop, Watch } from 'vue-property-decorator'
import Cta from '@/components/Cta.vue'
import Spinner from '@/components/Spinner.vue'
// import InfiniteLoading from 'vue-infinite-loading'
import { config } from '@/custom/config'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

type Scroller = any
const IterableOptionsDef = () => {
  return {}
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { Cta, Spinner } })
export default class Lister extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() records: { id: string }[]
  @Prop({ default: false }) loading: boolean
  @Prop() isThreadEnd: boolean
  @Prop() recordsPerPage: number
  @Prop({ default: 'No records yet' }) ctaText: string
  @Prop({ default: config.iterables.Comment }) iterable: Types.Iterable
  @Prop({ default: IterableOptionsDef }) iterableOptions: Types.IterableOptions

  //*===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍===🐍Emits

  @Emit() showmore() {
    return true
  }

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  scrollerState: Scroller = null
  scrollerDebounce = false
  isInit = false

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get loadingMore() {
    return this.loading && this.records.length > 0
  }

  //*===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀===👀Watchers

  @Watch('loading') onLoadingFinish(value: boolean) {
    if (!value) {
      this.isInit = true
    }

    //? Exn: started loading, or scroller is not set
    if (value || !this.scrollerState) return

    //* Wait a bit for the page to get rendered
    if (this.isThreadEnd) {
      this.scrollerState.complete()
      return
    }
    this.scrollerState.loaded()
  }

  //Buggy infinite scroller
  onShowMore($state: any) {
    if (this.isThreadEnd) {
      return $state.complete()
    }
    this.scrollerState = $state
    if (!this.isInit) return
    this.showmore()
  }
}
</script>

<template>
  <div>
    <!-- CTA if no claim are found -->
    <div
      v-if="loading && records.length == 0"
      style="position: relative; min-height: 50vh"
    >
      <Spinner />
    </div>
    <!-- CTA if items are not found -->
    <div v-else-if="!records || records.length === 0" class="cta-container">
      <Cta :text="ctaText" :icon="'mdi-emoticon-cool-outline'" />
    </div>

    <v-flex v-else xs12 pa-0 ma-5 class="items-list__container mt-0 ml-0 mr-0">
      <div v-if="records.length > 0" class="elevation-0 items-list">
        <!-- `handle` class serves as a handle for dragging row around -->
        <component
          :is="iterable"
          v-for="item in records"
          :key="item.id"
          :item="item"
          :options="iterableOptions"
        />
        <!-- // TODO: figure out how to pass this -->
      </div>
    </v-flex>
    <div
      v-if="
        !(loading && records.length === 0) &&
        isInit &&
        records.length >= recordsPerPage
      "
    >
      <!-- 
      <InfiniteLoading :distance="400" @infinite="onShowMore">
        <div slot="spinner">
          <v-progress-circular
            class="mb-5"
            color="primary"
            indeterminate
            :size="20"
            :width="2"
          />
        </div>
        <div slot="no-more">
          //* Show finish sign only if over 1 page 
          <v-icon
            v-if="records.length > $config.pageSize"
            size="90"
            color="#dddddd"
          >
            mdi-flag
          </v-icon>
        </div>
        <div slot="no-results"></div>
      </InfiniteLoading>-->
    </div>
  </div>
</template>

<style lang="scss">
$headerBg: #ffffff;
$colorAccent: #cc2531;

.cta-container {
  position: relative;
  min-height: 50vh;
}

.items-list__container {
  width: 100%;

  .items-list {
    z-index: 3;
    opacity: 1;
    transition: opacity 300ms ease;

    a {
      text-decoration: underline;

      &:hover {
        color: $colorAccent;
      }
    }
  }
}
</style>
