<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { config } from '@/custom/config'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

// type Marker = { position: Position }//TODO
type Marker = { position: any }
type MapClickEvent = { latLng: { lat: () => number; lng: () => number } }

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: {} })
export default class Map extends Vue {
  @Prop() markers: Marker[]
  @Prop() center?: Types.Position | undefined
  @Prop({ required: true, default: '100px' }) height: string

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  emits = { onPlaceMarker: 'onPlaceMarker' }
  map: Types.GMap | null = null

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get getCenter() {
    return this.center ? this.center : config.mapCenterIstanbul
  }

  // // sepwatch

  // @Watch('markers') onMarkersUpdated() {
  //   if (!this.map || !this.markers || this.markers.length != 1) return
  //   this.map.panTo(this.markers[0].position)
  // }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    // At this point, the child GmapMap has been mounted, but
    // its map has not been initialized.
    // Therefore we need to write mapRef.$mapPromise.then(() => ...)

    const mapRef = this.$refs.map as Types.GMapRef
    mapRef.$mapPromise.then((map: Types.GMap) => (this.map = map))
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  reset() {
    if (!this.map) return
    this.map.setZoom(13)
    this.map.panTo(this.getCenter)
  }

  // Process map click event - place a marker
  onMapClick(e: MapClickEvent) {
    if (!e) return
    const lat = e.latLng.lat()
    const lng = e.latLng.lng()
    this.placeMarker({ lat, lng })
  }

  // Save marker by given position
  placeMarker(position: Types.Position) {
    this.$emit(this.emits.onPlaceMarker, position)
    // this.markers.push({ position })
    // map.panTo(position)
  }
}
</script>

<template>
  <GmapMap
    ref="map"
    :center="getCenter"
    :zoom="13"
    class="map__main"
    :style="{ height: height }"
    @click="onMapClick"
  >
    <GmapMarker
      v-for="m in markers"
      :key="m.position.lat + ' ' + m.position.lng"
      :position="m.position"
      :clickable="true"
      :draggable="true"
      @click="center = m.position"
    ></GmapMarker>
  </GmapMap>
</template>

<style lang="scss" scoped>
.map__main {
  width: 100%;
}
</style>
