<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import Dialog from '@/components/Dialog'
import DialogBaseSlider from '@/components/DialogBaseSlider.vue'
import Map from '@/components/Map.vue'
import { isPositionValid } from '@/utils/helpers'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

// * MapRef to map with `reset` method
interface MapRef extends Element {
  reset(): () => void
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ mixins: [Dialog], components: { DialogBaseSlider, Map } })
export default class PositionDialog extends Mixins(Dialog) {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() position: Types.Position
  @Prop() title: string
  @Prop() subtitle: string
  @Prop() isLoading: boolean

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  isMounted = false
  emits = { onUpdate: 'onUpdate' }
  positionTemp: Types.Position | null = null
  // description = 'Yolo Hostel Rasimpasa'

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get isPositionValid(): boolean {
    return isPositionValid(this.positionTemp)
  }

  get getMarkers() {
    if (!this.positionTemp) return [] //? Exn
    return [{ position: this.positionTemp }]
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  async mounted() {
    console.log('hi -> :')
    setTimeout(() => (this.isMounted = true), 150)
    this.positionTemp = this.position
    console.log(' -> this.positionTemp:', this.positionTemp)
    // Pull default image
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  onPlaceMarker(position: Types.Position) {
    // this.$emit('onUpdate', position)
    this.positionTemp = position
  }

  onSave() {
    this.$emit('onSave', this.positionTemp)
  }

  onClear() {
    this.$emit('onClear')
    const map = this.$refs.map as MapRef
    this.positionTemp = this.position
    map.reset()
  }

  onCancel() {
    this.isOpen = false
    this.$emit('onCancel')
  }

  // onSetPlace(v: any) {
  //   console.log('Seting place to', v)
  //   const loc = v.geometry.location
  //   console.log('lat', loc.lat())
  //   console.log('lng', loc.lng())
  //   this.positionTemp = {
  //     lat: loc.lat(),
  //     lng: loc.lng()
  //   }
  // }
}
</script>

<template>
  <DialogBaseSlider
    v-model="isOpen"
    :title="title"
    :subtitle="subtitle"
    :isLoading="isLoading"
    :isClearable="true"
    :isSaveDisabled="!isPositionValid"
    :clearBtnText="'Reset'"
    @onSave="onSave"
    @onCancel="onCancel"
    @onClear="onClear"
  >
    <!-- <div>description: {{ description }}</div>
    <GmapAutocomplete
      class="introInput ma-5"
      :value="description"
      placeholder="Select location"
      :select-first-on-enter="true"
      @place_changed="onSetPlace"
    /> -->

    <Map
      ref="map"
      class="mt-5"
      :markers="getMarkers"
      :height="'calc(100vh - 120px)'"
      @onPlaceMarker="onPlaceMarker"
    />
  </DialogBaseSlider>
</template>
