<script lang="ts">
import { Routes } from '@/router'
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'

@Component({ components: {} })
export default class DefaultLayout extends Vue {
  tabs = {
    Explore: {
      //@ts-ignore
      name: this.$t('Explore'),
      icon: 'mdi-binoculars',
      path: '/'
    },
    MyEvents: {
      //@ts-ignore
      name: this.$t('MyEvents'),
      icon: 'mdi-emoticon-cool',
      path: Routes.myEvents.path
    }
    // Map: {
    //   //@ts-ignore
    //   name: this.$t('Map'),
    //   icon: 'mdi-map-marker',
    //   path: Routes.map.path
    // }
  }
}
</script>

<template>
  <Tabs
    :items="[tabs.Explore, tabs.MyEvents]"
    :defaultTab="tabs.Explore.name"
    :hideIcons="$vuetify.breakpoint.xs"
  />
</template>

<style lang="scss">
.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
