<script lang="ts">
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'

@Component({ components: {} })
export default class ProfileLayoutTab extends Vue {
  tabs = {
    MyEvents: {
      name: 'Organized events',
      icon: 'mdi-emoticon-cool'
    }
  }
}
</script>

<template>
  <Tabs
    :items="[tabs.MyEvents]"
    :defaultTab="tabs.MyEvents.name"
    :hideIcons="$vuetify.breakpoint.xs"
    :dark="true"
  />
</template>

<style lang="scss">
.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
