<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import CommentCreate from '@/components/CommentCreate.vue'
import { namespace } from 'vuex-class'
import { COMMENTS_NAMESPACE } from '~/store/comments'
import { showSnack } from '~/utils/helpers'

const auth = namespace('auth')
const comments = namespace(COMMENTS_NAMESPACE)

type Comment = Comments.CommentV2

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { CommentCreate } })
export default class ReliesSection extends Vue {
  @auth.Getter profile!: Auth.ProfilePublic
  @comments.Action fetchComments!: Events.FetchCommentsA
  @comments.Getter('comments') commentsAll!: Comment[]

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() event: Events.Event
  @Prop({ required: true, default: false }) isOpen: boolean

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false // Disables actions
  showReplies = false // Disables actions
  //* Used to show replied user's info
  replyUserId = ''
  replyUserName = ''
  isResetCreate = false

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get comments() {
    const filterByEvent = (c: Comment) => c.eventId == this.event.id
    return this.commentsAll.filter(filterByEvent)
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  mounted() {
    if (this.isOpen) {
      this.onShowReplies()
    }
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async onShowReplies() {
    if (!this.event.replies) {
      this.showReplies = true
      return
    }
    this.loading = true
    await this.fetchComments(this.event.id)
    this.showReplies = true
    this.loading = false
  }

  onReply(p: { userId: string; userName: string }) {
    if (!this.profile) {
      showSnack(this, 'Please authenticate to leave comments')
      return
    }
    const { userId, userName } = p
    console.log('Replying to', p)
    this.replyUserId = userId
    this.replyUserName = userName
    this.isResetCreate = true
    setTimeout(() => {
      this.isResetCreate = false
    }, 100)
  }
}
</script>
<template>
  <div>
    <v-btn
      :loading="loading"
      class="mt-2"
      text
      color="blue"
      block
      @click="onShowReplies"
    >
      <span v-if="showReplies">
        {{ this.$t('Comments') }} ({{ event.replies }})
      </span>
      <span v-else>{{ this.$t('ShowComments') }} ({{ event.replies }})</span>
    </v-btn>
    <template v-if="showReplies">
      <Comment
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :user="profile"
        :event="event"
        @onReply="onReply"
      />
    </template>

    <div v-if="showReplies && !isResetCreate" class="mt-5">
      <CommentCreate
        :user="profile"
        :event="event"
        :replyUserId="replyUserId"
        :replyUserName="replyUserName"
      />
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
