<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import DialogBase from '@/components/DialogBase.vue'
import { handleErr, showSnack, to } from '@/utils/helpers'
import { myAuthUser } from '~/pages/TheCommentsPage.vue'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: { DialogBase } })
export default class ReportDialog extends DialogBase {
  getUser: Auth.User = myAuthUser
  user: Auth.User = myAuthUser
  vuexReport: Comments.ReportA = () => Promise.resolve()

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() comment: Comments.Comment

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false
  text = ''
  textLimitMax = 500
  textLimitMin = 10

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get getCounter() {
    return this.text.length > this.textLimitMax ? this.textLimitMax : null
  }

  get isValid() {
    const text = this.text.trim()
    const charsCount = text.length
    return charsCount >= this.textLimitMin && charsCount <= this.textLimitMax
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async submit() {
    const p = { commentId: this.comment.id, text: this.text }
    this.loading = true //* Enable loader
    const [err] = await to(this.vuexReport(p))
    this.loading = false //* Turn off loader
    if (err) return handleErr(err) //? Handle error response
    showSnack(this, 'Thank you, moderators will review your report soon!') //* Show snackbar
    this.isOpen = false //* Close dialog
    return Promise.resolve()
  }
}
</script>

<template>
  <DialogBase
    v-model="isOpen"
    :isLoading="loading"
    :noSaveBtn="true"
    :isClearable="true"
    :noCancelBtn="true"
    @onCancel="isOpen = false"
  >
    <div class="d-flex flex-column align-center justify-center">
      <h1 class="text-title mb-5">Report comment</h1>
      <!-- User information -->
      <v-container fluid>
        <v-row>
          <v-col col-12>
            <v-textarea
              v-model="text"
              outlined
              placeholder="Please describe the reason..."
              color="blue"
              ref="reportTextarea"
              rows="4"
              dense
              hide-details="auto"
              :loading="loading"
              :readonly="loading"
              :counter="getCounter"
              @keydown.enter.shift.exact="onSave"
            />
          </v-col>
        </v-row>
        <div class="d-flex">
          <v-spacer />
          <v-btn
            outlined
            color="blue"
            :disabled="!isValid"
            :loading="loading"
            @click="submit"
          >
            Submit
          </v-btn>
        </div>
      </v-container>
    </div>
  </DialogBase>
</template>

<style lang="scss">
.report-dialog {
}
</style>
