<script lang="ts">
</script>

<template>
  <v-snackbar v-model="show" :color="color">
    <div class="snackbar_wrapper">
      <div class="snack_text">
        {{ this.message }}
      </div>
      <div class="ml-4">
        <v-icon @click="show = false" color="white snack_icon lighten-1 ">
          mdi-close
        </v-icon>
      </div>
    </div>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      message: '',
      color: ''
    }
  },

  created() {
    this.$store.subscribe((Action, state) => {
      if (Action.type === 'snackbarNamespace/_showMessage') {
        this.message = state.snackbarNamespace._content
        this.color = state.snackbarNamespace._color
        this.show = true
      }
    })
  }
}
</script>

<style scoped>
.snackbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.snack_text {
  color: #ffffff;
  font-weight: 600;
}
.snack_icon {
}
</style>
