<script lang="ts">
import { Events } from '@/types'
import { EventBus } from '@/utils/eventBus'
import { Vue, Component } from 'vue-property-decorator'
import { CommentsOrder } from '~/types/commentsD'

enum Sorts {
  best = 'best',
  newest = 'newest',
  oldest = 'oldest'
}

@Component({ components: {} })
export default class SortingPanel extends Vue {
  vuexGetOrder: Comments.CommentsOrder = CommentsOrder.best
  setOrder: Auth.SetCommentsOrderA = () => Promise.resolve()

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  Sorts = Sorts
  menu = false

  //TODO: map order to text
  get getOrder() {
    return this.vuexGetOrder
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async select(order: Comments.CommentsOrder) {
    //* Set order at vuex
    await this.setOrder(order)
    // * Refetch comments
    EventBus.$emit(Events.FetchComments)
  }
}
</script>
<template>
  <div class="sorting-panel">
    <v-menu top>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="sorting-btn ml-3"
          :class="{ 'ml-0': $vuetify.breakpoint.mdAndDown }"
          color="#444444"
          dark
          small
          v-bind="attrs"
          v-on="on"
          text
        >
          <span :class="{ 'd-none': $vuetify.breakpoint.xs }">Sort By</span>
          <span class="ml-1">
            {{ getOrder }}
          </span>
          <v-icon color="#888888">mdi-menu-down</v-icon>
        </v-btn>
      </template>

      <v-list class="orders">
        <v-list-item
          v-for="order in Sorts"
          :key="order"
          :class="{ disabled: vuexGetOrder === order }"
          @click="select(order)"
        >
          <v-list-item-title>{{ order | capitalize }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<style lang="scss">
.sorting-panel {
  .sorting-btn {
    //* Remove background
    &::before {
      background-color: transparent !important;
    }

    &:hover {
      color: #000000 !important;

      .v-icon {
        color: #555555 !important;
      }
    }
  }
}
.orders .v-list-item.disabled {
  pointer-events: none !important;
  background: #dddddd !important;
}
</style>
