<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({ components: {} })
export default class Spinner extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop(Boolean) fullscreen: boolean
  @Prop(Boolean) noTransition: boolean
  @Prop({ default: 'primary' }) color: string
  @Prop({ default: 22 }) size: number
}
</script>

<template>
  <transition :name="noTransition ? '' : 'spinner__transition'">
    <div
      class="spinner"
      :class="{
        fullscreen: fullscreen
      }"
    >
      <v-progress-circular
        :size="fullscreen ? 70 : size"
        :width="fullscreen ? 7 : 3"
        indeterminate
        :color="color"
      />
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: white;
    z-index: 10001;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__transition {
    &-enter-active,
    &-leave-active {
      transition: opacity 0.25s;
    }
    &-enter {
      opacity: 0;
    }
    &-leave-to {
      // transition delay is used so it won't fade out before previous view fades out
      transition-delay: 0.25s;
      opacity: 0;
    }
  }
}
</style>
