<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import DialogBaseSlider from '@/components/DialogBaseSlider.vue'
import { myAuthUser } from '~/pages/TheCommentsPage.vue'
import Forms, { FormSuper } from '~/custom/forms'
import FormParser from './FormParser.vue'
import { namespace } from 'vuex-class'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

const events = namespace('events')

type EventError = {
  code: string
  message: string
}
@Component({ components: { DialogBaseSlider } })
export default class SuperFormDialog extends DialogBaseSlider {
  @events.Action('create') createEvent!: Events.CreateA

  user: Auth.User = myAuthUser

  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() comment: Comments.Comment

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  formFields: FormSuper = Forms.superForm()
  error: null | EventError = null
  loading = false
  text = ''

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  submitForm() {
    console.log('submitting form -> :')
    ;(this.$refs['FormParser'] as FormParser)?.onSubmitForm() //TODO:
  }

  async onSubmit(p: any) {
    console.log(p)

    this.loading = true

    // const context = this
    // const eventData = { title, text, date: datetime.toISOString(), context }
    // const [error, __] = await to(this.createEvent(eventData))

    this.loading = false
    this.isOpen = false
  }
}
</script>

<template>
  <DialogBaseSlider
    v-model="isOpen"
    :loading="loading"
    :title="'Super Form '"
    @onSave="submitForm"
    @onCancel="isOpen = false"
  >
    <FormParser
      ref="FormParser"
      :isLoading="loading"
      :formFields="formFields"
      @onSubmit="onSubmit"
    >
      <template v-slot:default>XOXOXOXOZOXO</template>
    </FormParser>
  </DialogBaseSlider>
</template>

<style lang="scss"></style>
