<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

type Tab = { name: string; icon: Types.Icon; path: string }

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({})
export default class Tabs extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() items: Tab[]
  @Prop({ default: false }) hideIcons: boolean
  @Prop() dark: boolean
}
</script>

<template>
  <div>
    <v-tabs
      class="tabs pl-1"
      grow
      background-color="transparent"
      dark:dark
      :color="dark ? 'white' : 'primary'"
    >
      <v-tab
        v-for="item in items"
        :key="item.path"
        :to="localePath(item.path)"
        :nuxt="true"
      >
        <v-icon v-if="item.icon && !hideIcons" class="mr-3">
          {{ item.icon }}
        </v-icon>
        <span
          v-if="!$vuetify.breakpoint.xs || hideIcons"
          :class="dark ? 'dark' : ''"
        >
          {{ item.name }}
        </span>
      </v-tab>
    </v-tabs>
    <!-- <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="tabItem in items"
        :key="tabItem.name"
        :value="tabItem.name"
      >
        <slot :name="tabItem.name" />
      </v-tab-item>
    </v-tabs-items> -->
  </div>
</template>

<style lang="scss">
.tabs {
  .v-tab:not(.v-tab--active) {
    span,
    .v-icon {
      color: var(--v-primary-base) !important;
    }
  }
  .v-slide-group__prev {
    display: none !important;
  }

  .dark {
    color: white !important;
  }
}
</style>
