<script lang="ts">
import { Routes } from '@/router'
import { Component, Vue, Prop } from 'vue-property-decorator'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({})
export default class Tag extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() tag: string
  @Prop({ default: false }) outlined: boolean
  @Prop({ default: false }) small: boolean
  @Prop({ default: false }) isLast: boolean //* Margin shown only for non-last items
  @Prop() hlUser: string | undefined

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get route() {
    if (!this.hlUser) {
      return {
        name: Routes.comments.name,
        query: { tags: [this.tag] }
      }
    }

    return {
      name: Routes.comments.name,
      query: { tags: [this.tag], hl: this.hlUser }
    }
  }
}
</script>

<template>
  <v-chip
    :to="route"
    :small="small"
    :outlined="outlined"
    pill
    color="tag"
    dark
    class="tag no-active ma-1"
  >
    <span :class="{ 'non-outlined': !outlined }">
      {{ tag }}
    </span>
  </v-chip>
</template>

<style lang="scss">
.tag {
  flex-shrink: 0;

  .non-outlined {
    font-weight: bold !important;
    font-size: 1.2em;
    color: white;
  }
}

.v-chip--active.no-active::before {
  opacity: 0 !important;
}
</style>
