<script lang="ts">
import { Routes } from '@/router'
import { Component, Prop, Vue } from 'vue-property-decorator'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ components: {} })
export default class TagsubBtn extends Vue {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() tags: string[]
  @Prop() hlUser: string | undefined

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  Routes = Routes

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get route() {
    if (!this.hlUser) {
      return {
        name: Routes.comments.name,
        query: { tags: this.tags }
      }
    }

    return {
      name: Routes.comments.name,
      query: { tags: this.tags, hl: this.hlUser }
    }
  }
}
</script>

<template>
  <v-btn
    v-if="tags.length > 1"
    :to="route"
    :title="'Go to this tag group'"
    class="tagsub-btn"
    large
    icon
    color="tag"
  >
    <!-- <v-icon class="pt-1">mdi-checkbox-multiple-blank-circle</v-icon> -->
    <v-icon class="pt-1">mdi-arrow-right-bold-outline</v-icon>
  </v-btn>
</template>

<style lang="scss">
//* Remove background for tagsub btn
.tagsub-btn {
  height: 2em !important; //* Otherwise button height is too much, on 2nd line margin is huge
  width: 2em !important; //* Otherwise button height is too much, on 2nd line margin is huge

  &:before {
    opacity: 0 !important;
  }
  .v-ripple__container {
    opacity: 0 !important;
  }
  //* Code for flipping icon
  // .icon__flip {
  //   -moz-transform: scaleX(-1);
  //   -o-transform: scaleX(-1);
  //   -webkit-transform: scaleX(-1);
  //   transform: scaleX(-1);
  //   filter: FlipH;
  //   -ms-filter: 'FlipH';
  // }
}
</style>
