<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import Dialog from '@/components/Dialog'
import DialogBase from '@/components/DialogBase.vue'
import { to, urltoFile, blobToData } from '@/utils/helpers'
import { Cropper } from 'vue-advanced-cropper'
import Spinner from '@/components/Spinner.vue'
// TODO: for need to import cropper's style.css file
import 'vue-advanced-cropper/dist/style.css'

//*===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶===🔶Secondary

// * ImgRef to image input with `clear` method
// interface ImgRef extends Element {
//   clear(): () => void
// }

type ImageSize = { width: number; height: number }
const DefaultCoordinates = (): ImageSize => {
  return { width: 0, height: 0 }
}

// interface Cropper extends Vue {
//   coordinates: ImageSize
// }

type Coords = {
  top: number
  right: number
  width: number
  height: number
}

type CropperChangeP = {
  coordinates: Coords
  canvas: HTMLCanvasElement
}

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({ mixins: [Dialog], components: { DialogBase, Cropper, Spinner } })
export default class UpdateImageDialog extends Mixins(Dialog) {
  //*===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜===👜Props

  @Prop() imgUrl: string | null
  @Prop() imgFile: File | null
  @Prop() title: string
  @Prop() subtitle: string
  @Prop() height: number
  @Prop() width: number
  @Prop() ratioX: number
  @Prop() ratioY: number
  @Prop() loading: boolean

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  img = ''
  imgNew: File | null = null
  resultImg = ''
  isMounted = false
  coordinates: ImageSize = DefaultCoordinates()

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed

  get isImageValid() {
    return !!this.img && this.isWidthValid && this.isHeightValid
  }

  get isWidthValid() {
    if (!this.width) return true
    return this.coordinates.width && this.width <= this.coordinates.width
  }

  get isHeightValid() {
    if (!this.height) return true
    return this.coordinates && this.height <= this.coordinates.height
  }

  get aspectRatio() {
    if (!this.ratioX || !this.ratioY) return null
    return this.ratioX / this.ratioY
  }

  //* Get ref to main form
  get cropper(): Cropper | null {
    if (!this.isMounted) return null
    return this.$refs['cropper'] as Cropper
  }

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  async mounted() {
    if (this.imgFile) {
      const [errData, resData] = await to(blobToData(this.imgFile))
      if (errData) return Promise.reject(errData)
      this.img = resData
      return
    }

    // Pull default image
    const imgUrl = this.imgUrl
    if (!imgUrl) return
    const [err, dataUrl] = await to(this.fetchImgFromUrl(imgUrl))
    if (err) return //? Exn
    this.img = dataUrl
    setTimeout(() => (this.isMounted = true), 150)
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  //* Pull data from url and convert it to base64
  async fetchImgFromUrl(url: string) {
    //* Fetch img data from given url
    const [errFetch, resFetch] = await to(fetch(url))
    if (errFetch) return Promise.reject(errFetch)
    //* If success - convert response to blob
    const [errBlob, resBlob] = await to(resFetch.blob())
    if (errBlob) return Promise.reject(errBlob)
    //* Convert resBlob to dataUrl and resolve
    const [errData, resData] = await to(blobToData(resBlob))
    if (errBlob) return Promise.reject(errData)
    return Promise.resolve(resData)
  }

  setImage(img: string) {
    this.img = img
  }

  async onUpload() {
    const img = this.resultImg
    // TODO: validate image size
    //? Exn: no image - go to home page
    if (!img) return
    //* Image is always in jpeg format
    const filename = `new.jpg`
    const file = await urltoFile(img, filename, 'image/jpeg')
    this.$emit('onUpdate', file)
  }

  onClear() {
    this.img = ''
    this.imgNew = null
    this.coordinates = DefaultCoordinates()
    this.$emit('onClear')
  }

  onCancel() {
    this.isOpen = false
    this.$emit('onCancel')
  }

  change({ coordinates, canvas }: CropperChangeP) {
    this.coordinates = coordinates
    this.resultImg = canvas.toDataURL('image/jpeg')
  }

  //* New image is uploaded
  async onNewImage() {
    if (!this.imgNew) return
    const [errData, resData] = await to(blobToData(this.imgNew))
    if (errData) return Promise.reject(errData)

    this.img = resData

    // Delay, because change event gets triggered upon onload with default coords
    setTimeout(() => {
      const image = new Image()
      image.onload = () => {
        this.coordinates = { width: image.width, height: image.height }
      }
      image.src = resData
    }, 400)
  }
}
</script>

<template>
  <DialogBase
    v-model="isOpen"
    :title="title"
    :subtitle="subtitle"
    :loading="loading"
    :isClearable="true"
    :isSaveDisabled="!isImageValid"
    :isClearDisabled="!img"
    @onSave="onUpload"
    @onCancel="onCancel"
    @onClear="onClear"
  >
    <ul class="ma-5">
      <li v-if="width" :class="{ 'red--text': img && !isWidthValid }">
        {{ this.$t('ImgMinWidthSize') }}
        <span>{{ width }}px</span>
      </li>
      <li v-if="height" :class="{ 'red--text': img && !isHeightValid }">
        {{ this.$t('ImgMinHeightSize') }}
        <span>{{ height }}px</span>
      </li>
    </ul>
    <div v-if="loading" style="position: relative; min-height: 50vh">
      <Spinner />
    </div>
    <cropper
      v-else-if="img"
      ref="cropper"
      :src="img"
      :stencilProps="{
        aspectRatio
      }"
      :wheelResize="false"
      :restrictions="
        () => {
          return {
            minWidth: width || 0,
            minHeight: height || 0
          }
        }
      "
      class="cropper"
      @change="change"
    ></cropper>
    <v-file-input
      v-else
      v-model="imgNew"
      placeholder="Tap to select new image"
      :label="'Upload new image'"
      :loading="loading"
      :disabled="loading"
      show-size
      accept="image/png, image/jpeg, image/bmp"
      prepend-icon="mdi-camera"
      @change="onNewImage"
    ></v-file-input>
  </DialogBase>
</template>

<style lang="scss">
.disabled-cropper {
  opacity: 0.5;
  pointer-events: none;
}
.cropper {
  width: 0;
  min-width: 100%;
}
.image-editor {
  &__container {
    display: flex;
    justify-content: center;
  }
  .v-btn {
    display: none !important;
  }
}
</style>
