<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { isEventCompleted, showSnack, to } from '~/utils/helpers'
import { ATTEND_STATE } from '~/store/events'
import Event from '@/components/Event.vue'

const events = namespace('events')
const auth = namespace('auth')

@Component({
  name: 'EventPage',
  components: { Event },
  layout: 'event-layout',

  //* Fetch event
  async asyncData({ app, params }) {
    const eventId = params.event
    if (!app.store) return
    const [_, __] = await to(app.store.dispatch('events/fetchEvent', eventId))
    // if (err) {
    //   console.log('Error fetching event:', err)
    // }

    //     el.slug === params.mountain
    // redirect('/')
  }
})
export default class EventPage extends Vue {
  @events.Getter event!: Events.Event
  @auth.Getter('profile') user!: Auth.User
  @events.Action attend!: Events.AttendA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false // Disables actions

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get isCompleted() {
    return isEventCompleted(this.event.date)
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  async updateAttendance(v: ATTEND_STATE) {
    if (!this.user) {
      showSnack(this, 'Please signin to attend events')
      return
    }

    this.loading = true
    const p = { eventId: this.event.id, v }
    await this.attend(p)
    this.loading = false
  }
}
</script>
<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div v-if="event" class="mb-5 mt-3 event">
        <Event
          :isRepliesOpen="true"
          :event="event"
          :isCardMode="true"
          :isEditButton="true"
        />
      </div>
    </v-col>
  </v-row>
</template>

<style scoped lang="scss">
</style>
