<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { namespace } from 'vuex-class'
import { UsersNamespace } from '~/store/user'
import Spinner from '@/components/Spinner.vue'
import Cta from '@/components/Cta.vue'
import MyEvents from '@/pages/my-events/index.vue'
import { HOUR, to } from '~/utils/helpers'
import { EVENT_COMPLETED_DEADLINE } from '~/custom/config'

const user = namespace(UsersNamespace)
const events = namespace('events')

@Component({
  components: { Spinner, Cta, MyEvents },
  layout: 'profile-layout',

  //* Fetch event
  async asyncData({ app, params }) {
    const userId = params.id
    if (!app.store) return
    const [_, __] = await to(app.store.dispatch('user/fetchUser', userId))
  }
})
export default class User extends Vue {
  @user.Getter user!: Auth.ProfilePublic
  @events.Getter allevents!: Events.Event[]

  loading = true

  mounted() {
    this.fetchEvents()
  }

  async fetchEvents() {
    this.loading = true

    //@ts-ignore
    const userId = this.$route.params.id
    const newerThan = +new Date() - HOUR * EVENT_COMPLETED_DEADLINE
    const eventInfo = {
      organizerId: userId,
      newerThan
    }

    //@ts-ignore
    await this.$store.dispatch('events/fetchEventsById', eventInfo)

    this.loading = false
  }
}
</script> 

<template>
  <v-container fluid class="account" ma-0 pa-0>
    <v-row justify="center" align="center" class="mt-2">
      <v-col cols="12" sm="8" md="6">
        <Spinner v-if="loading" />
        <template v-else-if="allevents && allevents.length > 0">
          <Event
            v-for="event in allevents"
            :event="event"
            :key="event.id"
            :isCardMode="true"
          />
        </template>

        <Cta v-else :text="'No upcoming events yet'" />
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss">
//* Override "extension" slot's padding
.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.account-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  height: 100%;

  .account-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.v-parallax__content {
  background: rgba(0, 0, 0, 0.5);
}

.account {
  .header {
    display: flex;
    align-items: center;

    .follow__btn {
      border: 2px solid white;

      &.following {
        border-color: #87fd87;
        color: #b1ffb1;
      }
    }
  }

  .account-img {
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.6);
  }

  .content {
    display: flex;

    .nowrap {
      white-space: nowrap;
    }

    .mobile-row {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .child-page-tab {
    background: #f4433629;
  }
}
</style>
