<script lang="ts">
import { Routes } from '@/router'
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { txt } from '~/utils/helpers'

const auth = namespace('auth')

@Component({ components: {} })
export default class DefaultLayout extends Vue {
  @auth.Getter('isLogged') isLogged!: boolean
  @auth.Getter profile!: Auth.ProfilePublic

  email = 'eventsdays.info@gmail.com'

  Routes = Routes
  clipped = false
  drawer = false
  fixed = false
  miniVariant = false
  title = txt(this, 'Account')

  items = [
    {
      icon: 'mdi-apps',
      title: 'Welcome',
      to: '/'
    },
    {
      icon: 'mdi-chart-bubble',
      title: 'Inspire',
      to: '/inspire'
    },
    {
      icon: 'mdi-account',
      title: 'Login',
      to: Routes.login.children.main.path
    }
  ]

  //* Needed to prevent bug w isLogged, messes up ui
  isMounted = false

  mounted() {
    this.isMounted = true
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  goLoginMain() {
    //@ts-ignore
    this.$i18n.locale == 'ru'
      ? //@ts-ignore
        this.$router.push(`/${this.$i18n.locale}`)
      : //@ts-ignore
        this.$router.push(`/`)
  }
}
</script>

<template>
  <v-app dark col color="#43a047">
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      dark
      color="blue"
      hide-on-scroll
      class="my-app-bar"
      extension-height="190"
    >
      <v-btn icon @click="goLoginMain">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title v-text="title" />
      <v-spacer />

      <!-- //TODO: -->
      <v-btn icon :to="localePath(Routes.logout.path)">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-btn icon :to="localePath(Routes.account.children.details.path)">
        <v-icon>mdi-cog</v-icon>
      </v-btn>

      <template v-slot:extension>
        <div class="account-info">
          <div class="flex-grow-1">
            <div class="account-header">
              <Img
                :src="profile ? profile.img : ''"
                :default="$config.userDefaultImg"
                width="6em"
                height="6em"
                aspect-ratio="1.4"
                class="profile-img"
                round="80px"
              />
              <h4>{{ profile ? profile.displayName : '' }}</h4>
            </div>
          </div>

          <AccountLayoutTabs />
        </div>
      </template>
    </v-app-bar>
    <v-main>
      <v-container pa-0 mt-5>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <span class="ml-3 footer-mail">
        <v-icon class="mr-1">mdi-email</v-icon>
        {{ email }}
      </span>
    </v-footer>
  </v-app>
</template>

<style lang="scss">
//* Override "extension" slot's padding

.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.account-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  height: 100%;

  .account-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-mail {
  display: flex;
  align-items: center;
}
</style>
