<script lang="ts">
import { Routes } from '@/router'
import Component from 'vue-class-component'
import { Prop, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import Snackbar from '~/components/Snackbar.vue'

const auth = namespace('auth')

@Component({ components: { Snackbar } })
export default class DefaultLayout extends Vue {
  @Prop({ default: false }) hideTabs: boolean

  @auth.Getter('isLogged') isLogged!: boolean

  email = 'eventsdays.info@gmail.com'

  Routes = Routes
  clipped = false
  fixed = false
  miniVariant = false
  right = true
  title = 'Eventsdays'

  //* Needed to prevent bug w isLogged, messes up ui
  isMounted = false

  get getAccountPath() {
    if (this.isLogged && this.isMounted) {
      return Routes.account.path
    }
    return Routes.login.children.main.path
  }

  get getUserPath() {
    if (this.isLogged && this.isMounted) {
      return Routes.user.path
    }
    return Routes.login.children.main.path
  }

  mounted() {
    this.isMounted = true
  }
  goToMain() {
    //@ts-ignore

    return this.$i18n.locale == 'ru' ? `/${this.$i18n.locale}` : '/'
  }
}
</script>

<template>
  <v-app dark>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="white"
      hide-on-scroll
      class="my-app-bar"
    >
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <!-- <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn> -->
      <nuxt-link :to="goToMain()" class="text-decoration-none">
        <v-toolbar-title v-text="title" class="layout__name pr-2" />
      </nuxt-link>
      <v-spacer />

      <!-- <v-btn icon :to="Routes.logout.path">
          <v-icon>mdi-logout</v-icon>
        </v-btn> -->

      <v-btn icon :to="localePath(getAccountPath)">
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <!-- <v-btn icon :to="getUserPath">
        <v-icon>mdi-account-question</v-icon>
      </v-btn> -->

      <!-- <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn> -->
      <LangSelector />

      <template v-if="!hideTabs" v-slot:extension>
        <PostsTabs />
      </template>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
    <slot />
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <span class="ml-3 footer-mail">
        <v-icon class="mr-1">mdi-email</v-icon>
        {{ email }}
      </span>
    </v-footer>
    <!-- Snackbar -->
    <Snackbar></Snackbar>
  </v-app>
</template>

<style lang="scss">
//* Override "extension" slot's padding
.my-app-bar {
  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.layout__name {
  font-style: italic;
  font-family: initial;
  font-weight: bold;
  font-size: 1.8em;
  color: #347bd7;
}

.footer-mail {
  display: flex;
  align-items: center;
}
</style>
