<script lang="ts">
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'
import DefaultLayout from '@/layouts/default.vue'

@Component({ components: { DefaultLayout } })
export default class EventLayout extends Vue {}
</script>

<template>
  <DefaultLayout :hideTabs="true" />
</template>

<style lang="scss"></style>
