<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Spinner from '@/components/Spinner.vue'
import Cta from '@/components/Cta.vue'
import Img from '../components/Img.vue'
import { namespace } from 'vuex-class'

const auth = namespace('auth')

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({
  components: { Spinner, Cta, Img },
  layout: 'account-layout'
})
export default class Account extends Vue {
  @auth.Getter profile: Auth.ProfilePublic

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  loading = false

  //*===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏===🍏Computed
}
</script>

<template>
  <v-container fluid class="account" ma-0 pa-0>
    <Spinner v-if="loading" />
    <nuxt-child v-else />

    <!-- CTA if item is not found -->
    <!-- <Cta v-else :text="$txt.UserNotFound()" /> -->
  </v-container>
</template>

<style lang="scss">
$colorHl: rgba(0, 0, 0, 0.05);

.v-parallax__content {
  background: rgba(0, 0, 0, 0.5);
}

.account {
  .header {
    display: flex;
    align-items: center;

    .follow__btn {
      border: 2px solid white;

      &.following {
        border-color: #87fd87;
        color: #b1ffb1;
      }
    }
  }

  .account-img {
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.6);
  }

  .content {
    display: flex;

    .nowrap {
      white-space: nowrap;
    }

    .mobile-row {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .child-page-tab {
    background: #f4433629;
  }
}
</style>
