<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { namespace } from 'vuex-class'
import SuperFormDialog from '~/components/SuperFormDialog.vue'

const counter = namespace('counter')

@Component({ name: 'Fun', components: { SuperFormDialog } })
export default class Counter extends Vue {
  @counter.Getter('count') counter!: () => number
  @counter.Action add!: () => Promise<void>
  @counter.Action subtract!: () => Promise<void>
  $notifier: any

  isSuperDialog = false
}
</script>

<template>
  <div>
    <h1>{{ 'Sample page' | upper }}</h1>
    <h2>{{ 'Vuex State example' }}</h2>
    <div>
      <v-btn color="primary" outlined @click="add">add</v-btn>
      <v-btn color="primary" outlined @click="subtract">subtract</v-btn>
    </div>
    <div>State: {{ counter }}</div>

    <hr class="ma-10" />
    <h2>{{ 'Dialog example' }}</h2>
    <v-btn color="primary" outlined block @click="isSuperDialog = true">
      {{ $txt.OpenSuperDialog() }}
    </v-btn>
    <SuperFormDialog v-if="isSuperDialog" v-model="isSuperDialog" />
  </div>
</template>
