<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Event from '@/components/Event.vue'
import { namespace } from 'vuex-class'
import EventCreateDialog from '~/components/EventCreateDialog.vue'
import Cta from '~/components/Cta.vue'
import { to } from '~/utils/helpers'

const events = namespace('events')
const auth = namespace('auth')

@Component({
  name: 'Index',
  components: { Event, EventCreateDialog, Cta },
  async asyncData({ app, params, redirect }) {
    if (!app.store) return
    const [err, __] = await to(app.store.dispatch('events/fetch'))

    if (err) {
      console.log('Error fetching events:', err)
    }
  }
})
export default class Index extends Vue {
  @events.Getter events!: Events.Event[]
  @auth.Getter isLogged!: boolean

  isCreateDialog = false
}
</script>
<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6" :class="{ 'mt-5': !isLogged }">
      <div v-if="isLogged" class="d-flex mt-6 mb-5 mx-3">
        <v-btn color="primary" outlined block @click="isCreateDialog = true">
          {{ this.$t('CreateEvent') }}
        </v-btn>
      </div>

      <template v-if="events && events.length > 0">
        <Event
          v-for="event in events"
          :event="event"
          :key="event.id"
          :isCardMode="true"
        />
      </template>
      <Cta
        v-else
        :aria-hidden="!events || events.length ? false : true"
        :icon="'mdi-cloud-off-outline'"
        :text="'Please check your internet connection and try again'"
      />

      <!-- Creating event dialog -->
      <EventCreateDialog v-if="isCreateDialog" v-model="isCreateDialog" />
    </v-col>
  </v-row>
</template>
