<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SuperFormDialog from '~/components/SuperFormDialog.vue'

@Component({ name: 'InspirePage', components: { SuperFormDialog } })
export default class InspirePage extends Vue {
  showSnackbar() {
    ;(this as any).$notifier.showMessage({
      content: 'You are logout',
      color: 'info'
    })
  }

  isSuperDialog = false
}
</script>

<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <h1>{{ $txt.Welcome() }}</h1>
      <blockquote class="blockquote">
        &#8220;{{ $txt.Inspire() }} &#8221;
        <footer>
          <small>
            <em>&mdash;John Johnson</em>
            <v-btn color="primary" @click="showSnackbar">Show snackbar</v-btn>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>
