<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import LangSelector from '@/components/LangSelector.vue'

import authedOnly from '@/mixins/authed-only'

//*===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷===🔷Primary

@Component({
  components: { LangSelector },
  middleware: [],
  mixins: [authedOnly]
})
export default class TheLogin extends Vue {}
</script>

<template>
  <v-container fluid class="login" pa-0 color="white">
    <transition name="fade" mode="out-in">
      <div class="content-scrollable">
        <v-container fluid>
          <v-row align="center" justify="center">
            <v-col xs="12" sm="10" md="8" lg="5">
              <nuxt-child />
            </v-col>
          </v-row>
        </v-container>
      </div>
    </transition>
  </v-container>
</template>

<style lang="scss" scoped>
$navbarHeight: 150;

.svg-color-filter {
  filter: invert(60%) sepia(78%) saturate(5675%) hue-rotate(-23deg)
    brightness(93%) contrast(99%);
}

$navbarHeight: 120;

.content-scrollable {
  min-height: calc(100vh - #{$navbarHeight}px);

  display: flex;
  align-items: center;
}

.login {
  .slide-transition {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow-y: auto;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 300ms ease;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 300ms ease;
  opacity: 0;
}
</style>
