<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Spinner from '@/components/Spinner.vue'
import { namespace } from 'vuex-class'
import { routerpush, showSnack } from '~/utils/helpers'

const auth = namespace('auth')

@Component({ components: { Spinner } })
export default class TheLogoutPage extends Vue {
  @auth.Getter('isLogged') isLogged!: boolean
  @auth.Action signout!: Auth.SignoutA

  //*===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎===🍎Data

  isLoggingOut = false

  //*===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌===🦌Hooks

  async mounted() {
    //? Exn: User is not logged
    if (!this.isLogged) {
      return this.gotoLoginPage()
    }

    //* Logout - send req
    this.isLoggingOut = true
    await this.signout({})
    this.isLoggingOut = false

    //* Show snack and go to login page
    showSnack(this, 'You are logged out')
    this.gotoLoginPage()
  }

  gotoLoginPage() {
    routerpush(this, { path: '/' })
  }
}
</script>

<template>
  <div>
    <Spinner :fullscreen="true" />
  </div>
</template>
