<script lang="ts">
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'
import Map from '@/components/Map.vue'

@Component({ components: { Map } })
export default class MapPage extends Vue {
  positionTemp: Types.Position | null = null

  //*===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙===🌙Getters

  get getMarkers() {
    if (!this.positionTemp) return [] //? Exn
    return [{ position: this.positionTemp }]
  }

  //*===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊===🌊Methods

  onPlaceMarker(position: Types.Position) {
    // this.$emit('onUpdate', position)
    // this.positionTemp = position
  }
}
</script>

<template>
  <div style="display: flex; height:100%">
    <Map
      ref="map"
      @onPlaceMarker="onPlaceMarker"
      :markers="getMarkers"
      :height="''"
      style="flex-grow: 1"
    />
  </div>
</template>

<style lang="scss"></style>
