<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Event from '@/components/Event.vue'
import { namespace } from 'vuex-class'
import EventCreateDialog from '~/components/EventCreateDialog.vue'
import Cta from '~/components/Cta.vue'
import Spinner from '@/components/Spinner.vue'
import { Routes } from '~/router'

const events = namespace('events')

@Component({
  components: { Event, EventCreateDialog, Cta, Spinner }
})
export default class Index extends Vue {
  @events.Getter events!: Events.Event[]

  Routes = Routes

  mounted() {
    Routes.myEvents.children.index.path
    Routes.myEvents.children.past.path
    Routes.myEvents.children.organized.path
  }
}
</script>
<template>
  <div>
    <template>
      <v-tabs background-color="primary" class="tabs-wrapper">
        <v-tab
          :nuxt="true"
          :to="localePath(Routes.myEvents.children.index.path)"
        >
          {{ this.$t('Upcoming') }}
        </v-tab>
        <v-tab
          :nuxt="true"
          :to="localePath(Routes.myEvents.children.past.path)"
        >
          {{ this.$t('Past') }}
        </v-tab>
        <v-tab
          :nuxt="true"
          :to="localePath(Routes.myEvents.children.organized.path)"
        >
          {{ this.$t('Organized') }}
        </v-tab>
      </v-tabs>
    </template>
    <div class="mt-4"></div>
    <nuxt-child />
  </div>
</template>


<style scoped>
.v-tabs__content {
  justify-content: center;
}
</style>